In [59]:
# **************************** IMPORTANT ****************************
'''
This cell configuration settings for the Notebook. 
You can run one role at a time to evaluate the performance of the model
Change the variable names to run for multiple roles

In this model - cosine distance is calculated between the skills and
the course description. Each skill has a weighted score based on the 
popularity of the skill. This is derived by endorsements of the respective
skill by other linkedin connections.
'''


# *******************************************************************
# For each role a list of category names are grouped. 
# Please don't change these variables

label_data_scientist = ['Data Science','Machine Learning',
                           'Data Analysis', 'Business Intelligence',
                           'Data Mining','Data Visualization']

label_software_engineer = ['Software Development','Computer Science',
                           'Programming Languages', 'Software Development',
                           'Web Development','Algorithms and Data Structures']
                                       
# *******************************************************************


# *******************************************************************
# Environment and Config Variables. Change these variables as required.

my_fpath_courses = "../Data/main_coursera.csv"

my_fpath_skills_DataScientist = "../Data/Word2Vec-Google/Word2VecGoogle_DataScientist.csv"

my_fpath_skills_SoftwareEngineer = "../Data/Word2Vec-Google/Word2VecGoogle_SoftwareEngineer.csv" 
                                       
# *******************************************************************

In [60]:
# Importing required modules/packages

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk, string

In [61]:
# Downloading the stopwords like i, me, and, is, the etc.

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/DV/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [62]:
# Loading courses and skills data from the CSV files

df_courses = pd.read_csv(my_fpath_courses)

df_DataScientist = pd.read_csv(my_fpath_skills_DataScientist)
df_DataScientist = df_DataScientist.drop('Role', 1)
df_DataScientist.columns = ['Course Id', 'DataScientist_Skill_Score', 'DataScientist_Role_Score']

df_SoftwareEngineer = pd.read_csv(my_fpath_skills_SoftwareEngineer)
df_SoftwareEngineer = df_SoftwareEngineer.drop('Role', 1)
df_SoftwareEngineer.columns = ['Course Id','SoftwareEngineer_Skill_Score', 'SoftwareEngineer_Role_Score']

In [63]:
# Merging the csv files

df_cosdist = df_DataScientist.merge(df_SoftwareEngineer, on = 'Course Id', how = 'outer')

In [64]:
# Exploring data dimensionality, feature names, and feature types.

print(df_courses.shape,"\n")

print(df_cosdist.shape,"\n")

print(df_courses.columns, "\n")

print(df_cosdist.shape,"\n")

print(df_courses.describe(), "\n")

print(df_cosdist.describe(), "\n")

(2213, 18)

(2213, 5)

Index(['Unnamed: 0', 'Course Id', 'Course Name', 'Course Description', 'Slug',
       'Provider', 'Universities/Institutions', 'Parent Subject',
       'Child Subject', 'Category', 'Url', 'Length', 'Language',
       'Credential Name', 'Rating', 'Number of Ratings', 'Certificate',
       'Workload'],
      dtype='object')

(2213, 5)

        Unnamed: 0    Course Id      Length       Rating  Number of Ratings  \
count  2213.000000  2213.000000  964.000000  2213.000000        2213.000000
mean   1430.685043  4816.998192    6.063278     2.352785          10.321735
std     887.770407  3033.878865    2.724669     2.129134         110.680382
min       0.000000   303.000000    1.000000     0.000000           0.000000
25%     631.000000  1829.000000    4.000000     0.000000           0.000000
50%    1455.000000  4880.000000    6.000000     3.000000           1.000000
75%    2216.000000  7329.000000    7.000000     4.428571           4.000000
max    2953.000000  9969.000000   47.000000     5.000000        3008.000000

       Certificate
count       2089.0
mean           1.0
std            0.0
min            1.0
25%            1.0
50%            1.0
75%            1.0
max            1.0

         Course Id  DataScientist_Skill_Score  DataScientist_Role_Score  \
count  2213.000000                2213.000000               2213.000000
mean   4816.998192                   0.200941                  0.141278
std    3033.878865                   0.038057                  0.092812
min     303.000000                   0.040415                 -0.090214
25%    1829.000000                   0.173786                  0.077397
50%    4880.000000                   0.195436                  0.124907
75%    7329.000000                   0.226191                  0.190522
max    9969.000000                   0.333336                  0.570030

       SoftwareEngineer_Skill_Score  SoftwareEngineer_Role_Score
count                   2213.000000                  2213.000000
mean                       0.211730                     0.122076
std                        0.051182                     0.086455
min                        0.051971                    -0.106923
25%                        0.175266                     0.060477
50%                        0.204519                     0.112103
75%                        0.241380                     0.174385
max                        0.417759                     0.545448

In [65]:
# Quick check to see if the dataframe showing the right results

df_cosdist.head(20)

,Course Id,DataScientist_Skill_Score,DataScientist_Role_Score,SoftwareEngineer_Skill_Score,SoftwareEngineer_Role_Score
0,303,0.250289,0.268095,0.249944,0.135970
1,305,0.237911,0.205215,0.328530,0.437830
2,306,0.191053,0.124907,0.212947,0.069229
3,307,0.271128,0.146402,0.271968,0.050458
4,308,0.239865,0.126424,0.267256,0.119867
5,309,0.267912,0.283366,0.268586,0.186795
6,316,0.235680,0.304023,0.231349,0.106512
7,317,0.212704,0.143987,0.224335,0.064702
8,318,0.207079,0.170354,0.247371,0.223502
9,322,0.233237,0.128654,0.210427,0.151994
10,328,0.247141,0.089162,0.262806,0.250594
11,329,0.232288,0.056921,0.242387,0.052341
12,331,0.194456,0.101359,0.201298,0.051142
13,332,0.242192,0.240947,0.250830,0.200037
14,333,0.226170,0.237062,0.236369,0.186662
15,334,0.139533,0.215609,0.098114,0.022887
16,335,0.215778,0.218947,0.237039,0.180036
17,336,0.202858,0.189416,0.205637,0.199377
18,337,0.178624,0.072731,0.193732,0.146229
19,338,0.246674,0.182923,0.248485,0.095809

In [66]:
# Joining two dataframes - Courses and the Cosein Similarity Results based on the 'Course Id' variable. 
# Inner joins: Joins two tables with the common rows. This is a set operateion.

df_courses_score = df_courses.merge(df_cosdist, on ='Course Id', how='inner')

In [71]:
df_courses_score.sort_values(by=['DataScientist_Role_Score'], ascending=False).head(40)

,Unnamed: 0,Course Id,Course Name,Course Description,Slug,Provider,Universities/Institutions,Parent Subject,Child Subject,Category,...,Language,Credential Name,Rating,Number of Ratings,Certificate,Workload,DataScientist_Skill_Score,DataScientist_Role_Score,SoftwareEngineer_Skill_Score,SoftwareEngineer_Role_Score
506,579,1712,The Data Scientist’s Toolbox,In this course you will get an introduction to...,coursera-the-data-scientist-s-toolbox,Coursera,Johns Hopkins University,Data Science,NaN,Data Science,...,English,Data Science,3.263804,163,1.0,1-4 hours a week,0.252362,0.570030,0.247776,0.216195
836,1004,3478,Statistics for Genomic Data Science,An introduction to the statistics behind the m...,coursera-statistics-for-genomic-data-science,Coursera,Johns Hopkins University,Data Science,Bioinformatics,Bioinformatics,...,English,Genomic Data Science,1.666667,3,1.0,5-7 hours a week,0.236669,0.506991,0.223095,0.109433
833,1001,3475,Bioconductor for Genomic Data Science,Learn to use tools from the Bioconductor proje...,coursera-bioconductor-for-genomic-data-science,Coursera,Johns Hopkins University,Data Science,Bioinformatics,Bioinformatics,...,English,Genomic Data Science,3.000000,4,1.0,3-5 hours a week,0.247400,0.506566,0.249422,0.118902
109,110,451,Introduction to Data Science,Join the data revolution. Companies are search...,coursera-introduction-to-data-science,Coursera,University of Washington,Data Science,NaN,Data Science,...,English,Data Science at Scale,3.566667,30,1.0,10-12 hours a week,0.236196,0.496296,0.210213,0.124342
2212,2953,9969,On Being a Scientist,On Being a Scientist will provide learners wi...,coursera-on-being-a-scientist,Coursera,Leiden University,Science,NaN,Science,...,English,NaN,0.000000,0,1.0,NaN,0.169751,0.484270,0.146246,0.221711
831,999,3473,Genomic Data Science with Galaxy,Learn to use the tools that are available from...,coursera-genomic-data-science-with-galaxy,Coursera,Johns Hopkins University,Data Science,Bioinformatics,Bioinformatics,...,English,Genomic Data Science,1.750000,12,1.0,3-5 hours a week,0.233570,0.483362,0.233797,0.112722
58,58,388,Computing for Data Analysis,This course is about learning the fundamental ...,coursera-computing-for-data-analysis,Coursera,Johns Hopkins University,Data Science,Data Analysis,Data Analysis,...,English,Data Science,3.407407,27,1.0,3-5 hours a week,0.273819,0.468590,0.257776,0.236610
687,805,2737,Data Visualization,Learn the general concepts of data mining alon...,coursera-data-visualization,Coursera,University of Illinois at Urbana-Champaign,Data Science,Data Visualization,Data Visualization,...,English,Data Mining,3.263158,19,1.0,4-6 hours a week,0.252448,0.467397,0.233035,0.244885
1118,1471,5028,Communicating Data Science Results,Important note: The second assignment in this ...,coursera-communicating-data-science-results,Coursera,University of Washington,Data Science,NaN,Data Science,...,English,NaN,1.000000,2,1.0,NaN,0.260046,0.467385,0.263126,0.126902
1444,1934,6534,Materials Data Sciences and Informatics,This course aims to provide a succinct overvie...,coursera-materials-data-sciences-and-informatics,Coursera,Georgia Institute of Technology,Engineering,NaN,Engineering,...,English,NaN,0.000000,0,1.0,NaN,0.234480,0.464033,0.221896,0.251807
1054,1275,4389,Data Science in Real Life,Have you ever had the perfect data science exp...,coursera-data-science-in-real-life,Coursera,Johns Hopkins University,Data Science,NaN,Data Science,...,English,Executive Data Science,3.000000,10,1.0,NaN,0.243664,0.462398,0.236281,0.111761
56,56,386,Data Analysis,Learn about the most effective data analysis m...,coursera-data-analysis,Coursera,Johns Hopkins University,Data Science,Data Analysis,Data Analysis,...,English,NaN,4.200000,20,1.0,3-5 hours a week,0.206192,0.461984,0.160983,0.132484
191,193,595,Computational Methods for Data Analysis,Exploratory and objective data analysis method...,coursera-computational-methods-for-data-analysis,Coursera,University of Washington,Data Science,Data Analysis,Data Analysis,...,English,NaN,5.000000,4,NaN,10-12 hours a week,0.235847,0.460168,0.190504,0.190708
173,175,540,Data Management for Clinical Research,This course presents critical concepts and pra...,coursera-data-management-for-clinical-research,Coursera,Vanderbilt University,Health & Medicine,Health Care,Health Care,...,English,NaN,5.000000,1,1.0,2-4 hours a week,0.227557,0.456588,0.228063,0.178957
1314,1757,5758,Research Data Management and Sharing,This course will provide learners with an intr...,coursera-research-data-management-and-sharing,Coursera,The University of North Carolina at Chapel Hil...,Data Science,NaN,Data Science,...,English,NaN,0.000000,0,1.0,NaN,0.241428,0.447524,0.233678,0.173299
850,1019,3556,Genomic Data Science and Clustering (Bioinform...,How do we infer which genes orchestrate variou...,coursera-genomic-data-science-and-clustering-b...,Coursera,"University of California, San Diego",Data Science,Bioinformatics,Bioinformatics,...,English,Bioinformatics,3.500000,2,1.0,4-10 hours a week,0.269546,0.446942,0.270488,0.193148
2166,2898,9725,SQL for Data Science,As data collection has increased exponentially...,coursera-sql-for-data-science,Coursera,"University of California, Davis",Programming,Databases,Databases,...,English,NaN,0.000000,0,1.0,3-5 hours a week,0.264547,0.439318,0.271765,0.194571
514,587,1720,Developing Data Products,A data product is the production output from a...,coursera-developing-data-products,Coursera,Johns Hopkins University,Data Science,NaN,Data Science,...,English,Data Science,3.944444,18,1.0,4-9 hours a week,0.276590,0.435339,0.262170,0.223389
709,837,2769,Healthcare Data Visualization,An overview to the state of the art of interac...,coursera-healthcare-data-visualization,Coursera,Georgia Institute of Technology,Health & Medicine,NaN,Health & Medicine,...,English,Healthcare Informatics & Data Analytics,0.000000,0,NaN,5-7 hours a week,0.240044,0.429988,0.212730,0.244955
1056,1277,4391,Building a Data Science Team,Data science is a team sport. As a data scienc...,coursera-building-a-data-science-team,Coursera,Johns Hopkins University,Data Science,NaN,Data Science,...,English,Executive Data Science,3.363636,11,1.0,NaN,0.220946,0.428271,0.209825,0.185923
834,1002,3476,Python for Genomic Data Science,This class provides an introduction to the Pyt...,coursera-python-for-genomic-data-science,Coursera,Johns Hopkins University,Data Science,Bioinformatics,Bioinformatics,...,English,Genomic Data Science,2.416667,12,1.0,3-5 hours a week,0.303912,0.426253,0.281766,0.117516
1466,1962,6633,Bayesian Statistics: From Concept to Data Anal...,This course introduces the Bayesian approach t...,coursera-bayesian-statistics-from-concept-to-d...,Coursera,"University of California, Santa Cruz",Data Science,Data Analysis,Data Analysis,...,English,NaN,4.500000,6,1.0,NaN,0.251573,0.425653,0.247964,0.109801
2126,2851,9630,Data Science Ethics,What are the ethical considerations regarding ...,coursera-data-science-ethics,Coursera,University of Michigan,Data Science,NaN,Data Science,...,English,NaN,0.000000,0,1.0,3-4 hours a week,0.217901,0.423616,0.190852,0.119400
964,1160,4249,Graph Analytics for Big Data,Want to understand your data network structure...,coursera-graph-analytics-for-big-data,Coursera,"University of California, San Diego",Data Science,Big Data,Big Data,...,English,Big Data,2.500000,6,1.0,NaN,0.238799,0.423042,0.227049,0.190054
579,663,2063,Exploring Neural Data,Try your hand at understanding the brain by le...,coursera-exploring-neural-data,Coursera,Brown University,Science,Biology,Biology,...,English,NaN,5.000000,1,1.0,5-8 hours a week,0.223084,0.421046,0.195977,0.109121
915,1098,4184,Data Management and Visualization,Whether being used to customize advertising to...,coursera-data-management-and-visualization,Coursera,Wesleyan University,Data Science,Data Visualization,Data Visualization,...,English,Data Analysis and Interpretation,2.400000,5,1.0,NaN,0.240733,0.419822,0.229728,0.289219
1215,1609,5475,Data Structures,A good algorithm usually comes together with a...,coursera-data-structures,Coursera,"University of California, San Diego |||Higher ...",Computer Science,Algorithms and Data Structures,Algorithms and Data Structures,...,English,NaN,3.000000,3,1.0,NaN,0.273016,0.416816,0.287651,0.161465
949,1142,4230,"Data Warehouse Concepts, Design, and Data Inte...",This is the second course in the Data Warehous...,coursera-data-warehouse-concepts-design-and-da...,Coursera,University of Colorado System,Data Science,NaN,Data Science,...,English,Data Warehousing for Business Intelligence,3.000000,3,1.0,NaN,0.261713,0.414777,0.274720,0.259836
764,911,3024,Big Data Science with the BD2K-LINCS Data Coor...,The Library of Integrative Network-based Cellu...,coursera-big-data-science-with-the-bd2k-lincs-...,Coursera,Icahn School of Medicine at Mount Sinai,Data Science,Big Data,Big Data,...,English,NaN,4.000000,1,1.0,4-5 hours a week,0.252906,0.410605,0.245517,0.136389
1379,1851,6099,Introduction to Probability and Data,This course introduces you to sampling and exp...,coursera-introduction-to-probability-and-data,Coursera,Duke University,Mathematics,Statistics & Probability,Statistics & Probability,...,English,NaN,3.500000,4,1.0,NaN,0.251933,0.408122,0.234398,0.117129
378,405,1035,Statistical Analysis of fMRI Data,Explore the intersection of statistics and fun...,coursera-statistical-analysis-of-fmri-data,Coursera,Johns Hopkins University,Data Science,Data Analysis,Data Analysis,...,English,NaN,4.000000,1,1.0,3-4 hours a week,0.225196,0.407541,0.181441,0.114536
1053,1274,4388,Managing Data Analysis,This one-week course describes the process of ...,coursera-managing-data-analysis,Coursera,Johns Hopkins University,Data Science,Data Analysis,Data Analysis,...,English,Executive Data Science,2.000000,7,1.0,NaN,0.244061,0.405866,0.230029,0.172284
904,1084,4169,Data Analysis Tools,"In this course, you will develop and test hypo...",coursera-data-analysis-tools,Coursera,Wesleyan University,Data Science,Data Analysis,Data Analysis,...,English,Data Analysis and Interpretation,3.000000,4,1.0,NaN,0.243335,0.403093,0.232782,0.186058
832,1000,3474,Command Line Tools for Genomic Data Science,Introduces to the commands that you need to ma...,coursera-command-line-tools-for-genomic-data-s...,Coursera,Johns Hopkins University,Data Science,Bioinformatics,Bioinformatics,...,English,Genomic Data Science,2.375000,8,1.0,3-5 hours a week,0.266276,0.402572,0.277179,0.170460
112,113,454,Web Intelligence and Big Data,This course is about building 'web-intelligenc...,coursera-web-intelligence-and-big-data,Coursera,Indian Institute of Technology Delhi|||Indrapr...,Data Science,Big Data,Big Data,...,English,NaN,2.909091,11,1.0,3-4 hours a week,0.277408,0.394126,0.289719,0.150361
1370,1842,6085,Framework for Data Collection and Analysis,This course will provide you with an overview ...,coursera-framework-for-data-collection-and-ana...,Coursera,"University of Maryland, College Park",Data Science,Data Analysis,Data Analysis,...,English,NaN,3.500000,2,1.0,NaN,0.227388,0.393025,0.208118,0.119204
1922,2570,8759,Serverless Data Analysis with Google BigQuery ...,"This 1-week, accelerated on-demand course buil...",coursera-serverless-data-analysis-with-google-...,Coursera,Google Cloud|||Google,Data Science,Data Analysis,Data Analysis,...,English,NaN,0.000000,0,1.0,6-8 hours a week,0.280408,0.391544,0.326958,0.248284
683,801,2733,Pattern Discovery in Data Mining,Learn the general concepts of data mining alon...,coursera-pattern-discovery-in-data-mining,Coursera,University of Illinois at Urbana-Champaign,Data Science,Data Mining,Data Mining,...,English,Data Mining,2.100000,20,1.0,4-6 hours a week,0.245876,0.390815,0.224660,0.145021
926,1112,4199,Relational Database Support for Data Warehouses,Relational Database Support for Data Warehouse...,coursera-relational-database-support-for-data-...,Coursera,University of Colorado System,Programming,Databases,Databases,...,English,Data Warehousing for Business Intelligence,2.000000,1,1.0,NaN,0.273379,0.389319,0.285133,0.159000
685,803,2735,Cluster Analysis in Data Mining,Discover the basic concepts of cluster analysi...,coursera-cluster-analysis-in-data-mining,Coursera,University of Illinois at Urbana-Champaign,Data Science,Data Mining,Data Mining,...,English,Data Mining,2.333333,6,1.0,4-6 hours a week,0.255407,0.388434,0.266674,0.175125

In [38]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: DATA SCIENTIST

my_DataScientist_skill_score = 'DataScientist_Role_Score'
my_DataScientist_final_score = 'DataScientist_Final_Score'
y_actu_DataScientist         = ''
y_pred_DataScientist         = ''

df_courses_score[[my_DataScientist_final_score]] = df_courses_score[[my_DataScientist_skill_score]]

df_courses_score['DataScientist_Predict'] = (df_courses_score[[my_DataScientist_final_score]] >= 0.5)

df_courses_score['DataScientist_Label'] = df_courses_score.Category.isin(label_data_scientist)

y_pred_DataScientist = pd.Series(df_courses_score['DataScientist_Predict'], name='Predicted')

y_actu_DataScientist = pd.Series(df_courses_score['DataScientist_Label'], name='Actual')

df_confusion_DataScientist = pd.crosstab(y_actu_DataScientist, y_pred_DataScientist , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [39]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: SOFTWARE ENGINEER

my_SoftwareEngineer_skill_score = 'SoftwareEngineer_Role_Score'
my_SoftwareEngineer_final_score = 'SoftwareEngineer_Final_Score'
y_actu_SoftwareEngineer         = ''
y_pred_SoftwareEngineer         = ''

df_courses_score[[my_SoftwareEngineer_final_score]] = df_courses_score[[my_SoftwareEngineer_skill_score]]

df_courses_score['SoftwareEngineer_Predict'] = (df_courses_score[[my_SoftwareEngineer_final_score]] >= 0.5)

df_courses_score['SoftwareEngineer_Label'] = df_courses_score.Category.isin(label_software_engineer)

y_pred_SoftwareEngineer = pd.Series(df_courses_score['SoftwareEngineer_Predict'], name='Predicted')

y_actu_SoftwareEngineer = pd.Series(df_courses_score['SoftwareEngineer_Label'], name='Actual')

df_confusion_SoftwareEngineer = pd.crosstab(y_actu_SoftwareEngineer, y_pred_SoftwareEngineer , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [40]:
df_confusion_DataScientist

Predicted  False  True
Actual
False       2085      2
True         125      1

In [41]:
df_confusion_SoftwareEngineer

Predicted  False  True
Actual
False       2064      3
True         146      0

In [42]:
# Performance summary for the ROLE: DATA SCIENTIST


try:
    tn_DataScientist = df_confusion_DataScientist.iloc[0][False]
except:
    tn_DataScientist = 0
    
try:
    tp_DataScientist =  df_confusion_DataScientist.iloc[1][True]
except:
    tp_DataScientist = 0

    
try:
    fn_DataScientist = df_confusion_DataScientist.iloc[1][False]
except:
    fn_DataScientist = 0
    
try:
    fp_DataScientist =  df_confusion_DataScientist.iloc[0][True]
except:
    fp_DataScientist = 0  
    
    
total_count_DataScientist = tn_DataScientist + tp_DataScientist + fn_DataScientist + fp_DataScientist


print('Data Scientist Accuracy Rate : ', (tn_DataScientist + tp_DataScientist) / total_count_DataScientist)

print('Data Scientist Misclassifcation Rate : ', (fn_DataScientist + fp_DataScientist) / total_count_DataScientist)

print('Data Scientist True Positive Rate : ', tp_DataScientist / (tp_DataScientist + fn_DataScientist))

print('Data Scientist False Positive Rate : ', fp_DataScientist / (tn_DataScientist + fp_DataScientist))

Data Scientist Accuracy Rate :  0.9426118391323994
Data Scientist Misclassifcation Rate :  0.05738816086760054
Data Scientist True Positive Rate :  0.007936507936507936
Data Scientist False Positive Rate :  0.0009583133684714902

In [43]:
# Performance summary for the ROLE: SOFTWARE ENGINEER


try:
    tn_SoftwareEngineer = df_confusion_SoftwareEngineer.iloc[0][False]
except:
    tn_SoftwareEngineer = 0
    
try:
    tp_SoftwareEngineer =  df_confusion_SoftwareEngineer.iloc[1][True]
except:
    tp_SoftwareEngineer = 0

    
try:
    fn_SoftwareEngineer = df_confusion_SoftwareEngineer.iloc[1][False]
except:
    fn_SoftwareEngineer = 0
    
try:
    fp_SoftwareEngineer =  df_confusion_SoftwareEngineer.iloc[0][True]
except:
    fp_SoftwareEngineer = 0  
    
    
total_count_SoftwareEngineer = tn_SoftwareEngineer + tp_SoftwareEngineer + fn_SoftwareEngineer + fp_SoftwareEngineer


print('Software Engineer Accuracy Rate : ', (tn_SoftwareEngineer + tp_SoftwareEngineer) / total_count_SoftwareEngineer)

print('Software Engineer Misclassifcation Rate : ', (fn_SoftwareEngineer + fp_SoftwareEngineer) / total_count_SoftwareEngineer)

print('Software Engineer True Positive Rate : ', tp_SoftwareEngineer / (tp_SoftwareEngineer + fn_SoftwareEngineer))

print('Software Engineer False Positive Rate : ', fp_SoftwareEngineer / (tn_SoftwareEngineer + fp_SoftwareEngineer))

Software Engineer Accuracy Rate :  0.9326705829191143
Software Engineer Misclassifcation Rate :  0.06732941708088568
Software Engineer True Positive Rate :  0.0
Software Engineer False Positive Rate :  0.001451378809869376