###### Name: Deepak Vadithala
###### Course: MSc Data Science
###### Project Name: MOOC Recommender System

##### Notes:
This notebook contains the analysis of the **Google's Word2Vec** model. This model is trained on the news articles. 
two variable **(Role and Skill Scores)** is used to predict the course category. 
Skill Score is calculated using the similarity between the skills from LinkedIn compared with the course description with keywords from Coursera.


*Model Source Code Path: /mooc-recommender/Model/Cosine_Distance.py*

*Github Repo: https://github.com/iamdv/mooc-recommender*

In [600]:
# **************************** IMPORTANT ****************************
'''
This cell configuration settings for the Notebook. 
You can run one role at a time to evaluate the performance of the model
Change the variable names to run for multiple roles

In this model:
1. Google word2vec model has two variables Roles and Skills with 
50% weightage for each
'''

# *******************************************************************
# For each role a list of category names are grouped. 
# Please don't change these variables

label_DataScientist = ['Data Science','Data Analysis','Data Mining','Data Visualization']

label_SoftwareDevelopment = ['Software Development','Computer Science',
                           'Programming Languages', 'Algorithms and Data Structures', 
                           'Information Technology']


label_DatabaseAdministrator = ['Databases']

label_Cybersecurity = ['Cybersecurity']

label_FinancialAccountant = ['Finance', 'Accounting']

label_MachineLearning = ['Machine Learning', 'Deep Learning']

label_Musician = ['Music']

label_Dietitian = ['Nutrition & Wellness']

label_Psychologist = ['Psychology']
            
# *******************************************************************


# *******************************************************************
# Environment and Config Variables. Change these variables as per the requirement.

my_fpath_courses = "../Data/main_coursera.csv"

my_fpath_skills_DataScientist = "../Data/Word2Vec-Google/Word2VecGoogle_DataScientist.csv"

my_fpath_skills_SoftwareDevelopment = "../Data/Word2Vec-Google/Word2VecGoogle_SoftwareDevelopment.csv" 

my_fpath_skills_DatabaseAdministrator = "../Data/Word2Vec-Google/Word2VecGoogle_DatabaseAdministrator.csv"

my_fpath_skills_Cybersecurity = "../Data/Word2Vec-Google/Word2VecGoogle_Cybersecurity.csv"

my_fpath_skills_FinancialAccountant = "../Data/Word2Vec-Google/Word2VecGoogle_FinancialAccountant.csv"

my_fpath_skills_MachineLearning = "../Data/Word2Vec-Google/Word2VecGoogle_MachineLearning.csv"

my_fpath_skills_Musician = "../Data/Word2Vec-Google/Word2VecGoogle_Musician.csv"

my_fpath_skills_Dietitian = "../Data/Word2Vec-Google/Word2VecGoogle_Dietitian.csv"

my_fpath_skills_Psychologist = "../Data/Word2Vec-Google/Word2VecGoogle_Psychologist.csv"

# *******************************************************************


# *******************************************************************
# Weighting Variables. Change them as per the requirement.
# Role score is not applicable for Google's Word2Vec model.

my_role_weight = 0.5

my_skill_weight = 0.5

my_threshold = 0.37

# *******************************************************************

In [601]:
# Importing required modules/packages

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk, string

In [602]:
# Downloading the stopwords like i, me, and, is, the etc.

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/DV/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [603]:
# Loading courses and skills data from the CSV files

df_courses = pd.read_csv(my_fpath_courses)

df_DataScientist = pd.read_csv(my_fpath_skills_DataScientist)
df_DataScientist = df_DataScientist.drop('Role', 1)
df_DataScientist.columns = ['Course Id', 'DataScientist_Skill_Score', 'DataScientist_Role_Score', 'DataScientist_Keyword_Score']

df_SoftwareDevelopment = pd.read_csv(my_fpath_skills_SoftwareDevelopment)
df_SoftwareDevelopment = df_SoftwareDevelopment.drop('Role', 1)
df_SoftwareDevelopment.columns = ['Course Id','SoftwareDevelopment_Skill_Score', 'SoftwareDevelopment_Role_Score', 'SoftwareDevelopment_Keyword_Score']

df_DatabaseAdministrator = pd.read_csv(my_fpath_skills_DatabaseAdministrator)
df_DatabaseAdministrator = df_DatabaseAdministrator.drop('Role', 1)
df_DatabaseAdministrator.columns = ['Course Id','DatabaseAdministrator_Skill_Score', 'DatabaseAdministrator_Role_Score', 'DatabaseAdministrator_Keyword_Score']

df_Cybersecurity = pd.read_csv(my_fpath_skills_Cybersecurity)
df_Cybersecurity = df_Cybersecurity.drop('Role', 1)
df_Cybersecurity.columns = ['Course Id','Cybersecurity_Skill_Score', 'Cybersecurity_Role_Score', 'Cybersecurity_Keyword_Score']

df_FinancialAccountant = pd.read_csv(my_fpath_skills_FinancialAccountant)
df_FinancialAccountant = df_FinancialAccountant.drop('Role', 1)
df_FinancialAccountant.columns = ['Course Id','FinancialAccountant_Skill_Score', 'FinancialAccountant_Role_Score', 'FinancialAccountant_Keyword_Score']

df_MachineLearning = pd.read_csv(my_fpath_skills_MachineLearning)
df_MachineLearning = df_MachineLearning.drop('Role', 1)
df_MachineLearning.columns = ['Course Id','MachineLearning_Skill_Score', 'MachineLearning_Role_Score', 'MachineLearning_Keyword_Score']

df_Musician = pd.read_csv(my_fpath_skills_Musician)
df_Musician = df_Musician.drop('Role', 1)
df_Musician.columns = ['Course Id','Musician_Skill_Score', 'Musician_Role_Score', 'Musician_Keyword_Score']

df_Dietitian = pd.read_csv(my_fpath_skills_Dietitian)
df_Dietitian = df_Dietitian.drop('Role', 1)
df_Dietitian.columns = ['Course Id','Dietitian_Skill_Score', 'Dietitian_Role_Score','Dietitian_Keyword_Score']

df_Psychologist = pd.read_csv(my_fpath_skills_Psychologist)
df_Psychologist = df_Psychologist.drop('Role', 1)
df_Psychologist.columns = ['Course Id','Psychologist_Skill_Score', 'Psychologist_Role_Score', 'Psychologist_Keyword_Score']

In [604]:
# Merging the csv files

df_cosdist = df_DataScientist.merge(df_SoftwareDevelopment, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_DatabaseAdministrator, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_Cybersecurity, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_FinancialAccountant, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_MachineLearning, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_Musician, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_Dietitian, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_Psychologist, on = 'Course Id', how = 'outer')

In [605]:
# Exploring data dimensionality, feature names, and feature types.

print(df_courses.shape,"\n")

print(df_cosdist.shape,"\n")

print(df_courses.columns, "\n")

print(df_cosdist.shape,"\n")

print(df_courses.describe(), "\n")

print(df_cosdist.describe(), "\n")

(2213, 19)

(2213, 28)

Index(['Unnamed: 0', 'Course Id', 'Course Name', 'Course Description', 'Slug',
       'Provider', 'Universities/Institutions', 'Parent Subject',
       'Child Subject', 'Category', 'Url', 'Length', 'Language',
       'Credential Name', 'Rating', 'Number of Ratings', 'Certificate',
       'Workload', 'Course Keywords'],
      dtype='object')

(2213, 28)

        Unnamed: 0    Course Id      Length       Rating  Number of Ratings  \
count  2213.000000  2213.000000  964.000000  2213.000000        2213.000000
mean   1106.000000  4816.998192    6.063278     2.352785          10.321735
std     638.982394  3033.878865    2.724669     2.129134         110.680382
min       0.000000   303.000000    1.000000     0.000000           0.000000
25%     553.000000  1829.000000    4.000000     0.000000           0.000000
50%    1106.000000  4880.000000    6.000000     3.000000           1.000000
75%    1659.000000  7329.000000    7.000000     4.428571           4.000000
max    2212.000000  9969.000000   47.000000     5.000000        3008.000000

       Certificate
count       2089.0
mean           1.0
std            0.0
min            1.0
25%            1.0
50%            1.0
75%            1.0
max            1.0

         Course Id  DataScientist_Skill_Score  DataScientist_Role_Score  \
count  2213.000000                2213.000000               2213.000000
mean   4816.998192                   0.253603                  0.202148
std    3033.878865                   0.063825                  0.095905
min     303.000000                   0.073427                 -0.045646
25%    1829.000000                   0.209730                  0.136829
50%    4880.000000                   0.246833                  0.190079
75%    7329.000000                   0.290165                  0.253134
max    9969.000000                   0.496512                  0.684108

       DataScientist_Keyword_Score  SoftwareDevelopment_Skill_Score  \
count                  2213.000000                      2213.000000
mean                      0.091181                         0.387198
std                       0.059478                         0.084046
min                      -0.063642                         0.102160
25%                       0.050196                         0.325518
50%                       0.088732                         0.383269
75%                       0.125501                         0.440745
max                       0.396320                         0.700534

       SoftwareDevelopment_Role_Score  SoftwareDevelopment_Keyword_Score  \
count                     2213.000000                        2213.000000
mean                         0.270533                           0.120804
std                          0.123348                           0.116932
min                         -0.024631                          -0.100123
25%                          0.181528                           0.032989
50%                          0.254739                           0.093796
75%                          0.349016                           0.193437
max                          0.726558                           0.659895

       DatabaseAdministrator_Skill_Score  DatabaseAdministrator_Role_Score  \
count                        2213.000000                       2213.000000
mean                            0.223889                          0.213700
std                             0.062702                          0.102178
min                             0.044565                         -0.024762
25%                             0.179406                          0.141179
50%                             0.211521                          0.200258
75%                             0.257764                          0.271785
max                             0.484228                          0.707394

       DatabaseAdministrator_Keyword_Score             ...              \
count                          2213.000000             ...
mean                              0.148530             ...
std                               0.097067             ...
min                              -0.124045             ...
25%                               0.080847             ...
50%                               0.138213             ...
75%                               0.207535             ...
max                               0.627908             ...

       MachineLearning_Keyword_Score  Musician_Skill_Score  \
count                    2213.000000           2213.000000
mean                        0.098372              0.234268
std                         0.060126              0.060516
min                        -0.080490              0.060548
25%                         0.059618              0.199681
50%                         0.094563              0.227106
75%                         0.135300              0.258019
max                         0.620310              0.643528

       Musician_Role_Score  Musician_Keyword_Score  Dietitian_Skill_Score  \
count          2213.000000             2213.000000            2213.000000
mean              0.114262                0.097471               0.258961
std               0.083243                0.075950               0.075362
min              -0.067947               -0.070993               0.005550
25%               0.060388                0.047330               0.211049
50%               0.099685                0.084650               0.248664
75%               0.150736                0.133394               0.294546
max               0.643383                0.560303               0.758306

       Dietitian_Role_Score  Dietitian_Keyword_Score  \
count           2213.000000              2213.000000
mean               0.210623                 0.233843
std                0.102585                 0.111411
min               -0.032185                -0.060747
25%                0.139227                 0.159844
50%                0.200446                 0.223151
75%                0.267689                 0.294443
max                0.684655                 0.833940

       Psychologist_Skill_Score  Psychologist_Role_Score  \
count               2213.000000              2213.000000
mean                   0.223754                 0.148925
std                    0.064369                 0.089864
min                    0.056846                -0.075064
25%                    0.180307                 0.086983
50%                    0.212267                 0.137724
75%                    0.255775                 0.195719
max                    0.528828                 0.630743

       Psychologist_Keyword_Score
count                 2213.000000
mean                     0.130790
std                      0.085752
min                     -0.079583
25%                      0.075441
50%                      0.120283
75%                      0.175208
max                      0.546818

[8 rows x 28 columns]

In [606]:
# Quick check to see if the dataframe showing the right results

df_cosdist.head(20)

,Course Id,DataScientist_Skill_Score,DataScientist_Role_Score,DataScientist_Keyword_Score,SoftwareDevelopment_Skill_Score,SoftwareDevelopment_Role_Score,SoftwareDevelopment_Keyword_Score,DatabaseAdministrator_Skill_Score,DatabaseAdministrator_Role_Score,DatabaseAdministrator_Keyword_Score,...,MachineLearning_Keyword_Score,Musician_Skill_Score,Musician_Role_Score,Musician_Keyword_Score,Dietitian_Skill_Score,Dietitian_Role_Score,Dietitian_Keyword_Score,Psychologist_Skill_Score,Psychologist_Role_Score,Psychologist_Keyword_Score
0,303,0.353896,0.218317,0.006389,0.499727,0.407900,0.286107,0.481017,0.552069,0.239622,...,-0.009980,0.113307,0.009469,0.031942,0.158573,0.129606,0.202016,0.109731,0.097495,0.172200
1,305,0.248907,0.201266,0.060863,0.671046,0.637541,0.339763,0.326477,0.478538,0.337813,...,0.070378,0.238268,0.126894,0.102302,0.167242,0.123262,0.224514,0.111003,0.157934,0.225362
2,306,0.196352,0.111541,0.028367,0.462116,0.177365,0.022605,0.177970,0.172532,0.141302,...,-0.022811,0.201262,0.104183,0.093264,0.208029,0.163249,0.180220,0.138982,0.073580,-0.014611
3,307,0.325023,0.269903,0.192762,0.461995,0.365222,0.234099,0.318370,0.290179,0.158531,...,0.102171,0.201187,0.136207,0.161853,0.236696,0.216953,0.193625,0.190833,0.087633,0.118076
4,308,0.268324,0.177796,0.096390,0.424911,0.171458,0.070023,0.251495,0.102554,0.157861,...,0.158385,0.267893,0.094709,0.060037,0.226828,0.123050,0.164989,0.249779,0.172011,0.039645
5,309,0.346725,0.279909,0.093165,0.451475,0.406482,0.310806,0.311971,0.405204,0.389088,...,0.072626,0.193436,0.008280,0.010410,0.216048,0.124020,0.215586,0.209665,0.086747,0.078990
6,316,0.330795,0.341219,0.076157,0.401275,0.225375,0.133911,0.263690,0.267757,0.107805,...,0.047848,0.186473,0.035255,-0.010463,0.238093,0.254985,0.326331,0.199870,0.165259,0.103706
7,317,0.281024,0.177137,0.065165,0.361162,0.201478,0.083905,0.204727,0.168023,0.096344,...,0.122020,0.253335,0.165166,0.146791,0.261725,0.143083,0.192215,0.230890,0.133639,0.067826
8,318,0.274875,0.276595,0.090191,0.479362,0.401717,0.237797,0.337210,0.443668,0.275484,...,0.001999,0.171764,0.089439,0.030157,0.166740,0.185945,0.166751,0.138178,0.228217,0.174200
9,322,0.337485,0.187397,0.028805,0.404149,0.291805,0.082941,0.251568,0.248627,0.173421,...,0.100462,0.200777,0.116844,0.087077,0.201222,0.236463,0.240487,0.207260,0.150129,0.080651
10,328,0.279452,0.142453,0.052790,0.478188,0.419503,0.363234,0.296226,0.338146,0.339118,...,-0.032515,0.230577,0.066293,0.091840,0.237321,0.092162,0.127249,0.209348,0.106033,0.082715
11,329,0.341033,0.043958,-0.037296,0.434852,0.217973,0.098241,0.269069,0.147513,0.202014,...,0.062383,0.191229,-0.017836,0.029070,0.239941,0.061718,0.108715,0.231588,0.029957,0.005849
12,331,0.228128,0.170804,0.056464,0.383312,0.247410,0.228630,0.179512,0.234513,0.268659,...,0.079690,0.213796,0.095460,0.062050,0.267788,0.122691,0.120159,0.259385,0.056899,0.056197
13,332,0.314243,0.247797,0.041025,0.410811,0.404793,0.273294,0.282210,0.317670,0.220243,...,0.141767,0.178933,0.098779,0.094476,0.156597,0.212848,0.306182,0.164483,0.181265,0.117356
14,333,0.310784,0.240063,0.063495,0.382298,0.424175,0.303408,0.240926,0.325942,0.278033,...,0.117289,0.150522,0.066806,0.057178,0.182985,0.186225,0.285848,0.196024,0.160797,0.144677
15,334,0.290789,0.272520,0.107053,0.166172,0.076607,0.021992,0.160216,0.235394,0.101995,...,0.011992,0.060548,0.026257,0.046213,0.140187,0.158210,0.242832,0.134016,0.144243,0.146889
16,335,0.266535,0.250984,0.072003,0.456293,0.352385,0.129673,0.240807,0.315046,0.165824,...,0.078196,0.266810,0.079798,0.036081,0.216257,0.204011,0.281078,0.190030,0.147809,0.151336
17,336,0.294859,0.184603,0.091086,0.401788,0.293944,0.111024,0.237564,0.229430,0.166148,...,0.050593,0.271307,0.163960,0.126776,0.238210,0.119631,0.124320,0.290085,0.183893,0.161313
18,337,0.224954,0.165699,0.136800,0.353274,0.240544,0.051310,0.206853,0.162286,0.158544,...,0.040652,0.258313,0.148593,0.088289,0.224563,0.054262,0.117223,0.199200,0.041289,0.104963
19,338,0.391411,0.283600,0.051610,0.440638,0.279707,0.099758,0.309920,0.381238,0.223544,...,0.166219,0.201151,0.062461,0.043676,0.235162,0.280217,0.408028,0.267132,0.255671,0.167495

In [607]:
# Joining two dataframes - Courses and the Cosein Similarity Results based on the 'Course Id' variable. 
# Inner joins: Joins two tables with the common rows. This is a set operateion.

df_courses_score = df_courses.merge(df_cosdist, on ='Course Id', how='inner')

print(df_courses_score.shape,"\n")

(2213, 46)

In [608]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: DATA SCIENTIST

y_actu_DataScientist         = ''
y_pred_DataScientist         = ''

df_courses_score['DataScientist_Final_Score'] = (df_courses_score['DataScientist_Role_Score'] * my_role_weight) + (df_courses_score['DataScientist_Skill_Score'] * my_skill_weight)

df_courses_score['DataScientist_Predict'] = (df_courses_score['DataScientist_Final_Score'] >= my_threshold)

df_courses_score['DataScientist_Label'] = df_courses_score.Category.isin(label_DataScientist)

y_pred_DataScientist = pd.Series(df_courses_score['DataScientist_Predict'], name='Predicted')

y_actu_DataScientist = pd.Series(df_courses_score['DataScientist_Label'], name='Actual')

df_confusion_DataScientist = pd.crosstab(y_actu_DataScientist, y_pred_DataScientist , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [609]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: SOFTWARE ENGINEER/DEVELOPER

y_actu_SoftwareDevelopment         = ''
y_pred_SoftwareDevelopment         = ''

df_courses_score['SoftwareDevelopment_Final_Score'] = (df_courses_score['SoftwareDevelopment_Role_Score'] * my_role_weight) + (df_courses_score['SoftwareDevelopment_Skill_Score'] * my_skill_weight)

df_courses_score['SoftwareDevelopment_Predict'] = (df_courses_score['SoftwareDevelopment_Final_Score'] >= my_threshold)

df_courses_score['SoftwareDevelopment_Label'] = df_courses_score.Category.isin(label_SoftwareDevelopment)

y_pred_SoftwareDevelopment = pd.Series(df_courses_score['SoftwareDevelopment_Predict'], name='Predicted')

y_actu_SoftwareDevelopment = pd.Series(df_courses_score['SoftwareDevelopment_Label'], name='Actual')

df_confusion_SoftwareDevelopment = pd.crosstab(y_actu_SoftwareDevelopment, y_pred_SoftwareDevelopment , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [610]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: DATABASE DEVELOPER/ADMINISTRATOR

y_actu_DatabaseAdministrator         = ''
y_pred_DatabaseAdministrator         = ''

df_courses_score['DatabaseAdministrator_Final_Score'] = (df_courses_score['DatabaseAdministrator_Role_Score'] * my_role_weight) + (df_courses_score['DatabaseAdministrator_Skill_Score'] * my_skill_weight)

df_courses_score['DatabaseAdministrator_Predict'] = (df_courses_score['DatabaseAdministrator_Final_Score'] >= my_threshold)

df_courses_score['DatabaseAdministrator_Label'] = df_courses_score.Category.isin(label_DatabaseAdministrator)

y_pred_DatabaseAdministrator = pd.Series(df_courses_score['DatabaseAdministrator_Predict'], name='Predicted')

y_actu_DatabaseAdministrator = pd.Series(df_courses_score['DatabaseAdministrator_Label'], name='Actual')

df_confusion_DatabaseAdministrator = pd.crosstab(y_actu_DatabaseAdministrator, y_pred_DatabaseAdministrator , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [611]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: CYBERSECURITY CONSULTANT

y_actu_Cybersecurity         = ''
y_pred_Cybersecurity         = ''

df_courses_score['Cybersecurity_Final_Score'] = (df_courses_score['Cybersecurity_Role_Score'] * my_role_weight) + (df_courses_score['Cybersecurity_Skill_Score'] * my_skill_weight)

df_courses_score['Cybersecurity_Predict'] = (df_courses_score['Cybersecurity_Final_Score'] >= my_threshold)

df_courses_score['Cybersecurity_Label'] = df_courses_score.Category.isin(label_Cybersecurity)

y_pred_Cybersecurity = pd.Series(df_courses_score['Cybersecurity_Predict'], name='Predicted')

y_actu_Cybersecurity = pd.Series(df_courses_score['Cybersecurity_Label'], name='Actual')

df_confusion_Cybersecurity = pd.crosstab(y_actu_Cybersecurity, y_pred_Cybersecurity , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [612]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: FINANCIAL ACCOUNTANT

y_actu_FinancialAccountant         = ''
y_pred_FinancialAccountant         = ''

df_courses_score['FinancialAccountant_Final_Score'] = (df_courses_score['FinancialAccountant_Role_Score'] * my_role_weight) + (df_courses_score['FinancialAccountant_Skill_Score'] * my_skill_weight)

df_courses_score['FinancialAccountant_Predict'] = (df_courses_score['FinancialAccountant_Final_Score'] >= my_threshold)

df_courses_score['FinancialAccountant_Label'] = df_courses_score.Category.isin(label_FinancialAccountant)

y_pred_FinancialAccountant = pd.Series(df_courses_score['FinancialAccountant_Predict'], name='Predicted')

y_actu_FinancialAccountant = pd.Series(df_courses_score['FinancialAccountant_Label'], name='Actual')

df_confusion_FinancialAccountant = pd.crosstab(y_actu_FinancialAccountant, y_pred_FinancialAccountant , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [613]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: MACHINE LEARNING ENGINEER

y_actu_MachineLearning         = ''
y_pred_MachineLearning         = ''

df_courses_score['MachineLearning_Final_Score'] = (df_courses_score['MachineLearning_Role_Score'] * my_role_weight) + (df_courses_score['MachineLearning_Skill_Score'] * my_skill_weight)

df_courses_score['MachineLearning_Predict'] = (df_courses_score['MachineLearning_Final_Score'] >= my_threshold)

df_courses_score['MachineLearning_Label'] = df_courses_score.Category.isin(label_MachineLearning)

y_pred_MachineLearning = pd.Series(df_courses_score['MachineLearning_Predict'], name='Predicted')

y_actu_MachineLearning = pd.Series(df_courses_score['MachineLearning_Label'], name='Actual')

df_confusion_MachineLearning = pd.crosstab(y_actu_MachineLearning, y_pred_MachineLearning , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [614]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: MUSICIAN

y_actu_Musician         = ''
y_pred_Musician         = ''

df_courses_score['Musician_Final_Score'] = (df_courses_score['Musician_Role_Score'] * my_role_weight) + (df_courses_score['Musician_Skill_Score'] * my_skill_weight)

df_courses_score['Musician_Predict'] = (df_courses_score['Musician_Final_Score'] >= my_threshold)

df_courses_score['Musician_Label'] = df_courses_score.Category.isin(label_Musician)

y_pred_Musician = pd.Series(df_courses_score['Musician_Predict'], name='Predicted')

y_actu_Musician = pd.Series(df_courses_score['Musician_Label'], name='Actual')

df_confusion_Musician = pd.crosstab(y_actu_Musician, y_pred_Musician , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [615]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: NUTRITIONIST/DIETITIAN

y_actu_Dietitian         = ''
y_pred_Dietitian         = ''

df_courses_score['Dietitian_Final_Score'] = (df_courses_score['Dietitian_Role_Score'] * my_role_weight) + (df_courses_score['Dietitian_Skill_Score'] * my_skill_weight)

df_courses_score['Dietitian_Predict'] = (df_courses_score['Dietitian_Final_Score'] >= my_threshold)

df_courses_score['Dietitian_Label'] = df_courses_score.Category.isin(label_Dietitian)

y_pred_Dietitian = pd.Series(df_courses_score['Dietitian_Predict'], name='Predicted')

y_actu_Dietitian = pd.Series(df_courses_score['Dietitian_Label'], name='Actual')

df_confusion_Dietitian = pd.crosstab(y_actu_Dietitian, y_pred_Dietitian , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [616]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: Psychologist

y_actu_Psychologist         = ''
y_pred_Psychologist         = ''

df_courses_score['Psychologist_Final_Score'] = (df_courses_score['Psychologist_Role_Score'] * my_role_weight) + (df_courses_score['Psychologist_Skill_Score'] * my_skill_weight)

df_courses_score['Psychologist_Predict'] = (df_courses_score['Psychologist_Final_Score'] >= my_threshold)

df_courses_score['Psychologist_Label'] = df_courses_score.Category.isin(label_Psychologist)

y_pred_Psychologist = pd.Series(df_courses_score['Psychologist_Predict'], name='Predicted')

y_actu_Psychologist = pd.Series(df_courses_score['Psychologist_Label'], name='Actual')

df_confusion_Psychologist = pd.crosstab(y_actu_Psychologist, y_pred_Psychologist , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [617]:
df_confusion_DataScientist

Predicted  False  True
Actual
False       2071     60
True          26     56

In [618]:
df_confusion_SoftwareDevelopment

Predicted  False  True
Actual
False       1511    581
True          14    107

In [619]:
df_confusion_DatabaseAdministrator

Predicted  False  True
Actual
False       2103     99
True           2      9

In [620]:
df_confusion_Cybersecurity

Predicted  False  True
Actual
False       2110     73
True           0     30

In [621]:
df_confusion_FinancialAccountant

Predicted  False  True
Actual
False       1998    112
True          23     80

In [622]:
df_confusion_MachineLearning

Predicted  False  True
Actual
False       1990    199
True           1     23

In [623]:
df_confusion_Musician

Predicted  False  True
Actual
False       2163     13
True           2     35

In [624]:
df_confusion_Dietitian

Predicted  False  True
Actual
False       2060    127
True          12     14

In [625]:
df_confusion_Psychologist

Predicted  False  True
Actual
False       2147     35
True          18     13

In [626]:
# Performance summary for the ROLE: DATA SCIENTIST


try:
    tn_DataScientist = df_confusion_DataScientist.iloc[0][False]
except:
    tn_DataScientist = 0
    
try:
    tp_DataScientist =  df_confusion_DataScientist.iloc[1][True]
except:
    tp_DataScientist = 0

    
try:
    fn_DataScientist = df_confusion_DataScientist.iloc[1][False]
except:
    fn_DataScientist = 0
    
try:
    fp_DataScientist =  df_confusion_DataScientist.iloc[0][True]
except:
    fp_DataScientist = 0  
    
    
total_count_DataScientist = tn_DataScientist + tp_DataScientist + fn_DataScientist + fp_DataScientist

print('Data Scientist Accuracy Rate : ', '{0:.2f}'.format((tn_DataScientist + tp_DataScientist) / total_count_DataScientist * 100))

print('Data Scientist Misclassifcation Rate : ',  '{0:.2f}'.format((fn_DataScientist + fp_DataScientist) / total_count_DataScientist * 100))

print('Data Scientist True Positive Rate : ',  '{0:.2f}'.format(tp_DataScientist / (tp_DataScientist + fn_DataScientist) * 100))

print('Data Scientist False Positive Rate : ',  '{0:.2f}'.format(fp_DataScientist / (tn_DataScientist + fp_DataScientist) * 100))

Data Scientist Accuracy Rate :  96.11
Data Scientist Misclassifcation Rate :  3.89
Data Scientist True Positive Rate :  68.29
Data Scientist False Positive Rate :  2.82

In [627]:
# Performance summary for the ROLE: SOFTWARE ENGINEER


try:
    tn_SoftwareDevelopment = df_confusion_SoftwareDevelopment.iloc[0][False]
except:
    tn_SoftwareDevelopment = 0
    
try:
    tp_SoftwareDevelopment =  df_confusion_SoftwareDevelopment.iloc[1][True]
except:
    tp_SoftwareDevelopment = 0

    
try:
    fn_SoftwareDevelopment = df_confusion_SoftwareDevelopment.iloc[1][False]
except:
    fn_SoftwareDevelopment = 0
    
try:
    fp_SoftwareDevelopment =  df_confusion_SoftwareDevelopment.iloc[0][True]
except:
    fp_SoftwareDevelopment = 0  
    
    
total_count_SoftwareDevelopment = tn_SoftwareDevelopment + tp_SoftwareDevelopment + fn_SoftwareDevelopment + fp_SoftwareDevelopment

print('Software Engineer Accuracy Rate : ', '{0:.2f}'.format((tn_SoftwareDevelopment + tp_SoftwareDevelopment) / total_count_SoftwareDevelopment * 100))

print('Software Engineer Misclassifcation Rate : ',  '{0:.2f}'.format((fn_SoftwareDevelopment + fp_SoftwareDevelopment) / total_count_SoftwareDevelopment * 100))

print('Software Engineer True Positive Rate : ',  '{0:.2f}'.format(tp_SoftwareDevelopment / (tp_SoftwareDevelopment + fn_SoftwareDevelopment) * 100))

print('Software Engineer False Positive Rate : ',  '{0:.2f}'.format(fp_SoftwareDevelopment / (tn_SoftwareDevelopment + fp_SoftwareDevelopment) * 100))

Software Engineer Accuracy Rate :  73.11
Software Engineer Misclassifcation Rate :  26.89
Software Engineer True Positive Rate :  88.43
Software Engineer False Positive Rate :  27.77

In [628]:
# Performance summary for the ROLE: DATABASE DEVELOPER/ ADMINISTRATOR


try:
    tn_DatabaseAdministrator = df_confusion_DatabaseAdministrator.iloc[0][False]
except:
    tn_DatabaseAdministrator = 0
    
try:
    tp_DatabaseAdministrator =  df_confusion_DatabaseAdministrator.iloc[1][True]
except:
    tp_DatabaseAdministrator = 0

    
try:
    fn_DatabaseAdministrator = df_confusion_DatabaseAdministrator.iloc[1][False]
except:
    fn_DatabaseAdministrator = 0
    
try:
    fp_DatabaseAdministrator =  df_confusion_DatabaseAdministrator.iloc[0][True]
except:
    fp_DatabaseAdministrator = 0  
    
    
total_count_DatabaseAdministrator = tn_DatabaseAdministrator + tp_DatabaseAdministrator + fn_DatabaseAdministrator + fp_DatabaseAdministrator

print('Database Administrator Accuracy Rate : ', '{0:.2f}'.format((tn_DatabaseAdministrator + tp_DatabaseAdministrator) / total_count_DatabaseAdministrator * 100))

print('Database Administrator Misclassifcation Rate : ',  '{0:.2f}'.format((fn_DatabaseAdministrator + fp_DatabaseAdministrator) / total_count_DatabaseAdministrator * 100))

print('Database Administrator True Positive Rate : ',  '{0:.2f}'.format(tp_DatabaseAdministrator / (tp_DatabaseAdministrator + fn_DatabaseAdministrator) * 100))

print('Database Administrator False Positive Rate : ',  '{0:.2f}'.format(fp_DatabaseAdministrator / (tn_DatabaseAdministrator + fp_DatabaseAdministrator) * 100))

Database Administrator Accuracy Rate :  95.44
Database Administrator Misclassifcation Rate :  4.56
Database Administrator True Positive Rate :  81.82
Database Administrator False Positive Rate :  4.50

In [629]:
# Performance summary for the ROLE: CYBERSECURITY CONSULTANT


try:
    tn_Cybersecurity = df_confusion_Cybersecurity.iloc[0][False]
except:
    tn_Cybersecurity = 0
    
try:
    tp_Cybersecurity =  df_confusion_Cybersecurity.iloc[1][True]
except:
    tp_Cybersecurity = 0

    
try:
    fn_Cybersecurity = df_confusion_Cybersecurity.iloc[1][False]
except:
    fn_Cybersecurity = 0
    
try:
    fp_Cybersecurity =  df_confusion_Cybersecurity.iloc[0][True]
except:
    fp_Cybersecurity = 0  
    
    
total_count_Cybersecurity = tn_Cybersecurity + tp_Cybersecurity + fn_Cybersecurity + fp_Cybersecurity

print('Cybersecurity Consultant Accuracy Rate : ', '{0:.2f}'.format((tn_Cybersecurity + tp_Cybersecurity) / total_count_Cybersecurity * 100))

print('Cybersecurity Consultant Misclassifcation Rate : ',  '{0:.2f}'.format((fn_Cybersecurity + fp_Cybersecurity) / total_count_Cybersecurity * 100))

print('Cybersecurity Consultant True Positive Rate : ',  '{0:.2f}'.format(tp_Cybersecurity / (tp_Cybersecurity + fn_Cybersecurity) * 100))

print('Cybersecurity Consultant False Positive Rate : ',  '{0:.2f}'.format(fp_Cybersecurity / (tn_Cybersecurity + fp_Cybersecurity) * 100))

Cybersecurity Consultant Accuracy Rate :  96.70
Cybersecurity Consultant Misclassifcation Rate :  3.30
Cybersecurity Consultant True Positive Rate :  100.00
Cybersecurity Consultant False Positive Rate :  3.34

In [630]:
# Performance summary for the ROLE: FINANCIAL ACCOUNTANT


try:
    tn_FinancialAccountant = df_confusion_FinancialAccountant.iloc[0][False]
except:
    tn_FinancialAccountant = 0
    
try:
    tp_FinancialAccountant =  df_confusion_FinancialAccountant.iloc[1][True]
except:
    tp_FinancialAccountant = 0

    
try:
    fn_FinancialAccountant = df_confusion_FinancialAccountant.iloc[1][False]
except:
    fn_FinancialAccountant = 0
    
try:
    fp_FinancialAccountant =  df_confusion_FinancialAccountant.iloc[0][True]
except:
    fp_FinancialAccountant = 0  
    
    
total_count_FinancialAccountant = tn_FinancialAccountant + tp_FinancialAccountant + fn_FinancialAccountant + fp_FinancialAccountant

print('Financial Accountant Consultant Accuracy Rate : ', '{0:.2f}'.format((tn_FinancialAccountant + tp_FinancialAccountant) / total_count_FinancialAccountant * 100))

print('Financial Accountant Consultant Misclassifcation Rate : ',  '{0:.2f}'.format((fn_FinancialAccountant + fp_FinancialAccountant) / total_count_FinancialAccountant * 100))

print('Financial Accountant Consultant True Positive Rate : ',  '{0:.2f}'.format(tp_FinancialAccountant / (tp_FinancialAccountant + fn_FinancialAccountant) * 100))

print('Financial Accountant Consultant False Positive Rate : ',  '{0:.2f}'.format(fp_FinancialAccountant / (tn_FinancialAccountant + fp_FinancialAccountant) * 100))

Financial Accountant Consultant Accuracy Rate :  93.90
Financial Accountant Consultant Misclassifcation Rate :  6.10
Financial Accountant Consultant True Positive Rate :  77.67
Financial Accountant Consultant False Positive Rate :  5.31

In [631]:
# Performance summary for the ROLE: MACHINE LEARNING ENGINEER


try:
    tn_MachineLearning = df_confusion_MachineLearning.iloc[0][False]
except:
    tn_MachineLearning = 0
    
try:
    tp_MachineLearning =  df_confusion_MachineLearning.iloc[1][True]
except:
    tp_MachineLearning = 0

    
try:
    fn_MachineLearning = df_confusion_MachineLearning.iloc[1][False]
except:
    fn_MachineLearning = 0
    
try:
    fp_MachineLearning =  df_confusion_MachineLearning.iloc[0][True]
except:
    fp_MachineLearning = 0  
    
    
total_count_MachineLearning = tn_MachineLearning + tp_MachineLearning + fn_MachineLearning + fp_MachineLearning

print('Machine Learning Engineer Accuracy Rate : ', '{0:.2f}'.format((tn_MachineLearning + tp_MachineLearning) / total_count_MachineLearning * 100))

print('Machine Learning Engineer Misclassifcation Rate : ',  '{0:.2f}'.format((fn_MachineLearning + fp_MachineLearning) / total_count_MachineLearning * 100))

print('Machine Learning Engineer True Positive Rate : ',  '{0:.2f}'.format(tp_MachineLearning / (tp_MachineLearning + fn_MachineLearning) * 100))

print('Machine Learning Engineer False Positive Rate : ',  '{0:.2f}'.format(fp_MachineLearning / (tn_MachineLearning + fp_MachineLearning) * 100))

Machine Learning Engineer Accuracy Rate :  90.96
Machine Learning Engineer Misclassifcation Rate :  9.04
Machine Learning Engineer True Positive Rate :  95.83
Machine Learning Engineer False Positive Rate :  9.09

In [632]:
# Performance summary for the ROLE: MUSICIAN


try:
    tn_Musician = df_confusion_Musician.iloc[0][False]
except:
    tn_Musician = 0
    
try:
    tp_Musician =  df_confusion_Musician.iloc[1][True]
except:
    tp_Musician = 0

    
try:
    fn_Musician = df_confusion_Musician.iloc[1][False]
except:
    fn_Musician = 0
    
try:
    fp_Musician =  df_confusion_Musician.iloc[0][True]
except:
    fp_Musician = 0  
    
    
total_count_Musician = tn_Musician + tp_Musician + fn_Musician + fp_Musician

print('Musician Accuracy Rate : ', '{0:.2f}'.format((tn_Musician + tp_Musician) / total_count_Musician * 100))

print('Musician Misclassifcation Rate : ',  '{0:.2f}'.format((fn_Musician + fp_Musician) / total_count_Musician * 100))

print('Musician True Positive Rate : ',  '{0:.2f}'.format(tp_Musician / (tp_Musician + fn_Musician) * 100))

print('Musician False Positive Rate : ',  '{0:.2f}'.format(fp_Musician / (tn_Musician + fp_Musician) * 100))

Musician Accuracy Rate :  99.32
Musician Misclassifcation Rate :  0.68
Musician True Positive Rate :  94.59
Musician False Positive Rate :  0.60

In [633]:
# Performance summary for the ROLE: DIETITIAN


try:
    tn_Dietitian = df_confusion_Dietitian.iloc[0][False]
except:
    tn_Dietitian = 0
    
try:
    tp_Dietitian =  df_confusion_Dietitian.iloc[1][True]
except:
    tp_Dietitian = 0

    
try:
    fn_Dietitian = df_confusion_Dietitian.iloc[1][False]
except:
    fn_Dietitian = 0
    
try:
    fp_Dietitian =  df_confusion_Dietitian.iloc[0][True]
except:
    fp_Dietitian = 0  
    
    
total_count_Dietitian = tn_Dietitian + tp_Dietitian + fn_Dietitian + fp_Dietitian

print('Dietitian Accuracy Rate : ', '{0:.2f}'.format((tn_Dietitian + tp_Dietitian) / total_count_Dietitian * 100))

print('Dietitian Misclassifcation Rate : ',  '{0:.2f}'.format((fn_Dietitian + fp_Dietitian) / total_count_Dietitian * 100))

print('Dietitian True Positive Rate : ',  '{0:.2f}'.format(tp_Dietitian / (tp_Dietitian + fn_Dietitian) * 100))

print('Dietitian False Positive Rate : ',  '{0:.2f}'.format(fp_Dietitian / (tn_Dietitian + fp_Dietitian) * 100))

Dietitian Accuracy Rate :  93.72
Dietitian Misclassifcation Rate :  6.28
Dietitian True Positive Rate :  53.85
Dietitian False Positive Rate :  5.81

In [634]:
# Performance summary for the ROLE: Psychologist


try:
    tn_Psychologist = df_confusion_Psychologist.iloc[0][False]
except:
    tn_Psychologist = 0
    
try:
    tp_Psychologist =  df_confusion_Psychologist.iloc[1][True]
except:
    tp_Psychologist = 0

    
try:
    fn_Psychologist = df_confusion_Psychologist.iloc[1][False]
except:
    fn_Psychologist = 0
    
try:
    fp_Psychologist =  df_confusion_Psychologist.iloc[0][True]
except:
    fp_Psychologist = 0  
    
    
total_count_Psychologist = tn_Psychologist + tp_Psychologist + fn_Psychologist + fp_Psychologist

print('Psychologist Accuracy Rate : ', '{0:.2f}'.format((tn_Psychologist + tp_Psychologist) / total_count_Psychologist * 100))

print('Psychologist Misclassifcation Rate : ',  '{0:.2f}'.format((fn_Psychologist + fp_Psychologist) / total_count_Psychologist * 100))

print('Psychologist True Positive Rate : ',  '{0:.2f}'.format(tp_Psychologist / (tp_Psychologist + fn_Psychologist) * 100))

print('Psychologist False Positive Rate : ',  '{0:.2f}'.format(fp_Psychologist / (tn_Psychologist + fp_Psychologist) * 100))

Psychologist Accuracy Rate :  97.61
Psychologist Misclassifcation Rate :  2.39
Psychologist True Positive Rate :  41.94
Psychologist False Positive Rate :  1.60

### End of the Notebook. Thank you!