In [458]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk, string

# Importing required modules for EDA

In [459]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/DV/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [460]:
df_courses = pd.read_csv("../Data/main_coursera.csv")

df_temp_results = pd.read_csv("../Data/temp_output.csv")


# Loading courses data from the CSV file

In [461]:
print(df_courses.shape,"\n")

print(df_courses.columns, "\n")

print(df_courses.info(), "\n")

print(df_courses.describe(), "\n")

print(df_temp_results.describe(), "\n")

# Exploring data dimensionality, feature names, and feature types.

(2954, 18)

Index(['Unnamed: 0', 'Course Id', 'Course Name', 'Course Description', 'Slug',
       'Provider', 'Universities/Institutions', 'Parent Subject',
       'Child Subject', 'Category', 'Url', 'Length', 'Language',
       'Credential Name', 'Rating', 'Number of Ratings', 'Certificate',
       'Workload'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2954 entries, 0 to 2953
Data columns (total 18 columns):
Unnamed: 0                   2954 non-null int64
Course Id                    2954 non-null int64
Course Name                  2954 non-null object
Course Description           2951 non-null object
Slug                         2954 non-null object
Provider                     2954 non-null object
Universities/Institutions    2953 non-null object
Parent Subject               2954 non-null object
Child Subject                2567 non-null object
Category                     2954 non-null object
Url                          2954 non-null object
Length                       1325 non-null float64
Language                     2954 non-null object
Credential Name              374 non-null object
Rating                       2954 non-null float64
Number of Ratings            2954 non-null int64
Certificate                  2797 non-null float64
Workload                     1318 non-null object
dtypes: float64(3), int64(3), object(12)
memory usage: 415.5+ KB
None

        Unnamed: 0    Course Id       Length       Rating  Number of Ratings  \
count  2954.000000  2954.000000  1325.000000  2954.000000        2954.000000
mean   4051.986798  4970.286730     6.322264     1.927388           7.831754
std    2517.864295  2918.325309     2.765699     2.132991          95.909120
min       1.000000   303.000000     1.000000     0.000000           0.000000
25%    1862.500000  2416.500000     4.000000     0.000000           0.000000
50%    4150.500000  5033.500000     6.000000     0.000000           0.000000
75%    6015.750000  7327.750000     8.000000     4.200000           3.000000
max    8461.000000  9969.000000    47.000000     5.000000        3008.000000

       Certificate
count       2797.0
mean           1.0
std            0.0
min            1.0
25%            1.0
50%            1.0
75%            1.0
max            1.0

           Course Id    skill_score     role_score
count  118160.000000  118160.000000  118160.000000
mean     4970.286730       0.024550       0.358973
std      2917.843652       0.029161       0.184117
min       303.000000       0.000000       0.000000
25%      2407.000000       0.000000       0.247957
50%      5033.500000       0.015223       0.343869
75%      7328.000000       0.041561       0.480287
max      9969.000000       0.131448       0.784465

In [462]:


df_courses = df_courses[(df_courses['Language'] == 'English')]

df_courses.head(20)

,Unnamed: 0,Course Id,Course Name,Course Description,Slug,Provider,Universities/Institutions,Parent Subject,Child Subject,Category,Url,Length,Language,Credential Name,Rating,Number of Ratings,Certificate,Workload
0,1,303,Introduction to Databases,This course covers database design and the use...,coursera-introduction-to-databases,Coursera,Stanford University,Programming,Databases,Databases,https://www.coursera.org/course/db,NaN,English,NaN,4.677419,31,NaN,NaN
1,2,305,Software as a Service,NaN,coursera-software-as-a-service,Coursera,"University of California, Berkeley",Programming,Web Development,Web Development,https://www.coursera.org/course/saas,5.0,English,NaN,3.333333,3,NaN,NaN
2,3,306,Human-Computer Interaction,Helping you build human-centered design skills...,coursera-human-computer-interaction,Coursera,"University of California, San Diego",Art & Design,Design & Creativity,Design & Creativity,https://www.coursera.org/course/hciucsd,9.0,English,NaN,4.416667,12,1.0,10-12 hours a week
3,4,307,Natural Language Processing,Have you ever wondered how to build a system t...,coursera-natural-language-processing,Coursera,Columbia University,Computer Science,Artificial Intelligence,Artificial Intelligence,https://www.coursera.org/course/nlp,10.0,English,NaN,4.571429,7,1.0,8-10 hours a week
4,5,308,Game Theory,"Popularized by movies such as ""A Beautiful Min...",coursera-game-theory,Coursera,Stanford University|||The University of Britis...,Social Sciences,Economics,Economics,https://www.coursera.org/learn/game-theory-1,9.0,English,NaN,3.750000,32,1.0,5-7 hours a week
5,6,309,Probabilistic Graphical Models 1: Representation,Probabilistic graphical models (PGMs) are a ri...,coursera-probabilistic-graphical-models-1-repr...,Coursera,Stanford University,Computer Science,Artificial Intelligence,Artificial Intelligence,https://www.coursera.org/learn/probabilistic-g...,11.0,English,NaN,4.000000,17,1.0,15-20 hours a week
6,8,316,Information Theory,This course is an introduction to information ...,coursera-information-theory,Coursera,The Chinese University of Hong Kong,Engineering,Electrical Engineering,Electrical Engineering,https://www.coursera.org/course/informationtheory,NaN,English,NaN,0.000000,0,1.0,6-8 hours a week
7,9,317,Model Thinking,We live in a complex world with diverse people...,coursera-model-thinking,Coursera,University of Michigan,Social Sciences,Sociology,Sociology,https://www.coursera.org/learn/model-thinking,12.0,English,NaN,4.703125,64,1.0,4-8 hours a week
8,10,318,Computer Security,Learn how to design secure systems and write s...,coursera-computer-security,Coursera,Stanford University,Computer Science,Cybersecurity,Cybersecurity,https://www.coursera.org/course/security,NaN,English,NaN,5.000000,1,1.0,5-7 hours a week
9,13,322,Computer Vision: The Fundamentals,"In this course, we will study the concepts and...",coursera-computer-vision-the-fundamentals,Coursera,"University of California, Berkeley",Computer Science,Artificial Intelligence,Artificial Intelligence,https://www.coursera.org/course/vision,NaN,English,NaN,3.666667,3,NaN,NaN
10,18,328,Compilers,This course will discuss the major ideas used ...,coursera-compilers,Coursera,Stanford University,Computer Science,NaN,Computer Science,https://www.coursera.org/course/compilers,11.0,English,NaN,4.714286,7,1.0,8-10 hours a week
11,19,329,Introduction to Logic,This course is an introduction to Logic from a...,coursera-introduction-to-logic,Coursera,Stanford University,Humanities,Philosophy,Philosophy,https://www.coursera.org/learn/logic-introduction,10.0,English,NaN,3.333333,18,1.0,4-10 hours a week
12,20,331,Calculus: Single Variable,"This course provides a brisk, challenging, and...",coursera-calculus-single-variable,Coursera,University of Pennsylvania,Mathematics,Calculus,Calculus,https://www.coursera.org/course/calcsing,NaN,English,NaN,4.722222,18,1.0,10-12 hours a week
13,21,332,"Analytic Combinatorics, Part I",This course teaches a calculus that enables pr...,coursera-analytic-combinatorics-part-i,Coursera,Princeton University,Mathematics,Calculus,Calculus,https://www.coursera.org/course/introACpartI,NaN,English,NaN,0.000000,0,NaN,NaN
14,22,333,"Analytic Combinatorics, Part II",This course teaches a calculus that enables pr...,coursera-analytic-combinatorics-part-ii,Coursera,Princeton University,Mathematics,Calculus,Calculus,https://www.coursera.org/course/introACpartII,NaN,English,NaN,0.000000,0,NaN,NaN
15,23,334,Statistics One,Statistics One is a comprehensive yet friendly...,coursera-statistics-one,Coursera,Princeton University,Mathematics,Statistics & Probability,Statistics & Probability,https://www.coursera.org/course/stats1,NaN,English,NaN,3.333333,18,NaN,5-8 hours a week
16,24,335,"Internet History, Technology, and Security",The impact of technology and networks on our l...,coursera-internet-history-technology-and-security,Coursera,University of Michigan,Computer Science,NaN,Computer Science,https://www.coursera.org/learn/internet-history,10.0,English,NaN,4.638889,36,1.0,3-5 hours a week
17,25,336,Networked Life,Networked Life will explore recent scientific ...,coursera-networked-life,Coursera,University of Pennsylvania,Social Sciences,Sociology,Sociology,https://www.coursera.org/course/networks,NaN,English,NaN,4.000000,6,1.0,1-3 hours a week
18,26,337,Securing Digital Democracy,"In this course, you'll learn what every citize...",coursera-securing-digital-democracy,Coursera,University of Michigan,Social Sciences,Law,Law,https://www.coursera.org/learn/digital-democracy,5.0,English,NaN,4.833333,6,1.0,2-3 hours a week
19,27,338,Social Network Analysis,"This course will use social network analysis, ...",coursera-social-network-analysis,Coursera,University of Michigan,Data Science,NaN,Data Science,https://www.coursera.org/course/sna,NaN,English,NaN,4.090909,11,1.0,5-7 hours a week

In [463]:


df_category_count = df_courses.groupby(by = 'Category')['Course Id'].count()

df_category_count = df_category_count.to_frame()

df_category_count = df_category_count.sort_values(by = 'Course Id', ascending = False)

df_category_count.head(100)



# df_category_count.sort_values(ascending = False)

                                Course Id
Category
Finance                                80
Management & Leadership                77
Marketing                              66
Health Care                            62
Strategic Management                   60
Entrepreneurship                       57
Biology                                56
Environmental Science                  52
Economics                              45
Disease & Disorders                    43
History                                41
Data Science                           39
Algorithms and Data Structures         39
Public Health                          38
Philosophy                             37
Music                                  37
Foreign Language                       36
Web Development                        34
Grammar & Writing                      34
Sociology                              32
Law                                    32
Business                               31
Psychology                             31
Political Science                      31
Design & Creativity                    30
Communication Skills                   30
Cybersecurity                          30
Computer Science                       29
Career Development                     29
Data Analysis                          28
...                                   ...
Computer Networking                    11
Civil Engineering                      10
Literature                             10
Online Education                       10
Mobile Development                     10
Mathematics                            10
Robotics                               10
Nursing                                 9
Course Development                      9
Data Visualization                      9
Information Technology                  9
Industry Specific                       9
Sports                                  8
STEM                                    8
iOS Development                         8
Religion                                8
GIS                                     8
Film & Theatre                          8
Self Improvement                        7
Humanities                              7
Human Rights                            7
Project Management                      6
Data Mining                             6
Deep Learning                           6
Test Prep                               6
Nanotechnology                          6
Quantum Mechanics                       4
Algebra & Geometry                      4
Foundations of Mathematics              3
Human Resources                         2

[99 rows x 1 columns]

In [464]:
df_courses[df_courses['Category']=='Data Science']['Course Description'].values.tolist()[1]

'Investigate the flexibility and power of project-oriented computational analysis, and enhance communication of information by creating visual representations of scientific data.'

In [465]:
df_courses.count()

Unnamed: 0                   2213
Course Id                    2213
Course Name                  2213
Course Description           2210
Slug                         2213
Provider                     2213
Universities/Institutions    2212
Parent Subject               2213
Child Subject                1956
Category                     2213
Url                          2213
Length                        964
Language                     2213
Credential Name               308
Rating                       2213
Number of Ratings            2213
Certificate                  2089
Workload                     1061
dtype: int64

In [466]:
len(df_courses)

2213

In [467]:
len(pd.unique(df_courses['Provider']))

1

In [468]:
def normalize(text):
    """
    Normalizes the text to remove the capital letters and punctuations as they hinder textual anyalsis.
    :param text: search text
    :return: returns the normalized text.
    """
    remove_punctuation_map = dict((ord(char), None) for char in string.punctuation)
    return text.lower().translate(remove_punctuation_map)


def cosine_sim(text1, text2):
    """
    Calcuates the cosine distance between the block of words.
    :param text1: Phrase 1
    :param text2: Phrase 2
    :return: returns the probabilistic measure of similarity.
    """
    vectorizer = TfidfVectorizer(tokenizer=normalize, stop_words='english')
    tfidf = vectorizer.fit_transform([text1, text2])
    return ((tfidf * tfidf.T).A)[0, 1]

In [469]:
cosine_sim('data science','Investigate the flexibility and power of project-oriented computational analysis, and enhance communication of information by creating visual representations of scientific data.')

0.683169452438379

In [476]:

df_temp_results = df_temp_results.groupby( ['Course Id','role_score'])['skill_score'].sum()).reset_index()

df_temp_results


# df_temp_results = df_temp_results.sort_values(['role_score'], ascending = [False])

# df_temp_results.nlargest(int(len(df_temp_results) * 0.1), 'role_score')

# df_cosine_merged = df_courses.merge(df_temp_results, on ='Course Id', how='inner')

# df_cosine_merged = df_cosine_merged.sort_values(by = 'role_score', ascending = False)

# df_cosine_merged.sort_values(['role_score', 'Rating'], ascending = [False, False] )

SyntaxError: invalid syntax (<ipython-input-476-77eb650eb27d>, line 2)