###### Name: Deepak Vadithala
###### Course: MSc Data Science
###### Project Name: MOOC Recommender System

##### Notes:
This notebook contains the analysis of the **Cosine Similarity** model. 
Mutiple variables **(Role and Skill Scores)** are used to predict the course category. **Role and skill** are combined together. Removed noise from the course description field and kept only the keywords which are important.
Skill Score is calculated using the similarity between the skills from LinkedIn compared with the course description with keywords from Coursera.


*Model Source Code Path: /mooc-recommender/Model/Cosine_Distance.py*

*Github Repo: https://github.com/iamdv/mooc-recommender*

In [207]:
# **************************** IMPORTANT ****************************
'''
This cell configuration settings for the Notebook. 
You can run one role at a time to evaluate the performance of the model
Change the variable names to run for multiple roles

In this model:
1. cosine distance is calculated between the skills and the course description 
with the weight of 70%. And each skill has a weighted score based on the 
popularity of the skill. This is derived by endorsements of the respective
skill by other linkedin connections.

2. cosine distance is calcuated between the role and the course name with 
with the weight of 30%.
'''

# *******************************************************************
# For each role a list of category names are grouped. 
# Please don't change these variables

label_DataScientist = ['Data Science','Machine Learning',
                           'Data Analysis', 'Business Intelligence',
                           'Data Mining','Data Visualization', 'Deep Learning']

label_SoftwareDevelopment = ['Software Development','Computer Science',
                           'Programming Languages', 'Software Development',
                           'Web Development','Algorithms and Data Structures', 
                           'Information Technology', 'Mobile Development',
                           'Android Development']


label_DatabaseAdministrator = ['Databases']

label_Cybersecurity = ['Cybersecurity']

label_FinancialAccountant = ['Finance', 'Accounting']

label_MachineLearning = ['Machine Learning', 'Artificial Intelligence',
                         'Data Mining','Data Visualization', 'Deep Learning',
                        'Robotics', 'Statistics & Probability']

label_Musician = ['Music']

label_Dietitian = ['Public Health', 'Nutrition & Wellness', 'Health Care']

label_Psychologist = ['Psychology','Health Care']
            
# *******************************************************************


# *******************************************************************
# Environment and Config Variables. Change these variables as per the requirement.

my_fpath_courses = "../Data/main_coursera.csv"

my_fpath_skills_DataScientist = "../Data/Cosine-Distance/Single-Variable/CosDist_DataScientist.csv"

my_fpath_skills_SoftwareDevelopment = "../Data/Cosine-Distance/Single-Variable/CosDist_SoftwareDevelopment.csv" 

my_fpath_skills_DatabaseAdministrator = "../Data/Cosine-Distance/Single-Variable/CosDist_DatabaseAdministrator.csv"

my_fpath_skills_Cybersecurity = "../Data/Cosine-Distance/Single-Variable/CosDist_Cybersecurity.csv"

my_fpath_skills_FinancialAccountant = "../Data/Cosine-Distance/Single-Variable/CosDist_FinancialAccountant.csv"

my_fpath_skills_MachineLearning = "../Data/Cosine-Distance/Single-Variable/CosDist_MachineLearning.csv"

my_fpath_skills_Musician = "../Data/Cosine-Distance/Single-Variable/CosDist_Musician.csv"

my_fpath_skills_Dietitian = "../Data/Cosine-Distance/Single-Variable/CosDist_Dietitian.csv"

my_fpath_skills_Psychologist = "../Data/Cosine-Distance/Single-Variable/CosDist_Psychologist.csv"

# *******************************************************************


# *******************************************************************
# Weighting Variables. Change them as per the requirement.

my_role_weight = 0

my_skill_weight = 1

# *******************************************************************

In [208]:
# Importing required modules/packages

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk, string

pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

height has been deprecated.

In [209]:
# Downloading the stopwords like i, me, and, is, the etc.

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/dv/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [210]:
# Loading courses and skills data from the CSV files

df_courses = pd.read_csv(my_fpath_courses)

df_DataScientist = pd.read_csv(my_fpath_skills_DataScientist)
df_DataScientist = df_DataScientist.drop('Role', 1)
df_DataScientist.columns = ['Course Id', 'DataScientist_Skill_Score', 'DataScientist_Role_Score', 'DataScientist_Keyword_Score']

df_SoftwareDevelopment = pd.read_csv(my_fpath_skills_SoftwareDevelopment)
df_SoftwareDevelopment = df_SoftwareDevelopment.drop('Role', 1)
df_SoftwareDevelopment.columns = ['Course Id','SoftwareDevelopment_Skill_Score', 'SoftwareDevelopment_Role_Score', 'SoftwareDevelopment_Keyword_Score']

df_DatabaseAdministrator = pd.read_csv(my_fpath_skills_DatabaseAdministrator)
df_DatabaseAdministrator = df_DatabaseAdministrator.drop('Role', 1)
df_DatabaseAdministrator.columns = ['Course Id','DatabaseAdministrator_Skill_Score', 'DatabaseAdministrator_Role_Score', 'DatabaseAdministrator_Keyword_Score']

df_Cybersecurity = pd.read_csv(my_fpath_skills_Cybersecurity)
df_Cybersecurity = df_Cybersecurity.drop('Role', 1)
df_Cybersecurity.columns = ['Course Id','Cybersecurity_Skill_Score', 'Cybersecurity_Role_Score', 'Cybersecurity_Keyword_Score']

df_FinancialAccountant = pd.read_csv(my_fpath_skills_FinancialAccountant)
df_FinancialAccountant = df_FinancialAccountant.drop('Role', 1)
df_FinancialAccountant.columns = ['Course Id','FinancialAccountant_Skill_Score', 'FinancialAccountant_Role_Score', 'FinancialAccountant_Keyword_Score']

df_MachineLearning = pd.read_csv(my_fpath_skills_MachineLearning)
df_MachineLearning = df_MachineLearning.drop('Role', 1)
df_MachineLearning.columns = ['Course Id','MachineLearning_Skill_Score', 'MachineLearning_Role_Score', 'MachineLearning_Keyword_Score']

df_Musician = pd.read_csv(my_fpath_skills_Musician)
df_Musician = df_Musician.drop('Role', 1)
df_Musician.columns = ['Course Id','Musician_Skill_Score', 'Musician_Role_Score', 'Musician_Keyword_Score']

df_Dietitian = pd.read_csv(my_fpath_skills_Dietitian)
df_Dietitian = df_Dietitian.drop('Role', 1)
df_Dietitian.columns = ['Course Id','Dietitian_Skill_Score', 'Dietitian_Role_Score','Dietitian_Keyword_Score']

df_Psychologist = pd.read_csv(my_fpath_skills_Psychologist)
df_Psychologist = df_Psychologist.drop('Role', 1)
df_Psychologist.columns = ['Course Id','Psychologist_Skill_Score', 'Psychologist_Role_Score', 'Psychologist_Keyword_Score']

In [211]:
# Merging the csv files

df_cosdist = df_DataScientist.merge(df_SoftwareDevelopment, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_DatabaseAdministrator, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_Cybersecurity, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_FinancialAccountant, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_MachineLearning, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_Musician, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_Dietitian, on = 'Course Id', how = 'outer')

df_cosdist = df_cosdist.merge(df_Psychologist, on = 'Course Id', how = 'outer')

In [212]:
# Exploring data dimensionality, feature names, and feature types.

print(df_courses.shape,"\n")

print(df_cosdist.shape,"\n")

print(df_courses.columns, "\n")

print(df_cosdist.shape,"\n")

print(df_courses.describe(), "\n")

print(df_cosdist.describe(), "\n")

(2213, 19)

(2213, 28)

Index(['Unnamed: 0', 'Course Id', 'Course Name', 'Course Description', 'Slug', 'Provider', 'Universities/Institutions', 'Parent Subject', 'Child Subject', 'Category', 'Url', 'Length', 'Language', 'Credential Name', 'Rating', 'Number of Ratings', 'Certificate', 'Workload', 'Course Keywords'], dtype='object')

(2213, 28)

        Unnamed: 0    Course Id      Length       Rating  Number of Ratings  Certificate
count  2213.000000  2213.000000  964.000000  2213.000000        2213.000000       2089.0
mean   1106.000000  4816.998192    6.063278     2.352785          10.321735          1.0
std     638.982394  3033.878865    2.724669     2.129134         110.680382          0.0
min       0.000000   303.000000    1.000000     0.000000           0.000000          1.0
25%     553.000000  1829.000000    4.000000     0.000000           0.000000          1.0
50%    1106.000000  4880.000000    6.000000     3.000000           1.000000          1.0
75%    1659.000000  7329.000000    7.000000     4.428571           4.000000          1.0
max    2212.000000  9969.000000   47.000000     5.000000        3008.000000          1.0

         Course Id  DataScientist_Skill_Score  DataScientist_Role_Score  DataScientist_Keyword_Score  SoftwareDevelopment_Skill_Score  SoftwareDevelopment_Role_Score  SoftwareDevelopment_Keyword_Score  DatabaseAdministrator_Skill_Score  DatabaseAdministrator_Role_Score  DatabaseAdministrator_Keyword_Score  Cybersecurity_Skill_Score  Cybersecurity_Role_Score  Cybersecurity_Keyword_Score  FinancialAccountant_Skill_Score  FinancialAccountant_Role_Score  FinancialAccountant_Keyword_Score  MachineLearning_Skill_Score  MachineLearning_Role_Score  MachineLearning_Keyword_Score  Musician_Skill_Score  Musician_Role_Score  Musician_Keyword_Score  Dietitian_Skill_Score  Dietitian_Role_Score  Dietitian_Keyword_Score  Psychologist_Skill_Score  Psychologist_Role_Score  Psychologist_Keyword_Score
count  2213.000000                2213.000000               2213.000000                  2213.000000                      2213.000000                     2213.000000                        2213.000000                        2213.000000                       2213.000000                          2213.000000                2213.000000               2213.000000                  2213.000000                      2213.000000                     2213.000000                        2213.000000                  2213.000000                 2213.000000                    2213.000000           2213.000000          2213.000000             2213.000000            2213.000000           2213.000000              2213.000000               2213.000000              2213.000000                 2213.000000
mean   4816.998192                   0.295389                  0.525212                     0.442386                         0.233048                        0.613897                           0.388016                           0.417062                          0.566264                             0.411376                   0.527564                  0.356296                     0.519476                         0.540065                        0.462836                           0.552310                     0.399805                    0.526149                       0.514854              0.420926             0.286948                0.509260               0.502466              0.544329                 0.508482                  0.416351                 0.357422                    0.446395
std    3033.878865                   0.020283                  0.130884                     0.163566                         0.015813                        0.123881                           0.177870                           0.031182                          0.121549                             0.197301                   0.031543                  0.107254                     0.188395                         0.034100                        0.136793                           0.148736                     0.024283                    0.132972                       0.170077              0.030589             0.106083                0.146075               0.034140              0.139444                 0.160380                  0.028366                 0.108336                    0.204914
min     303.000000                   0.014831                  0.000000                     0.121614                         0.012575                        0.000000                           0.074077                           0.016902                          0.000000                             0.075394                   0.024515                  0.000000                     0.125445                         0.018663                        0.000000                           0.170649                     0.014053                    0.000000                       0.134006              0.021563             0.000000                0.084758               0.019922              0.000000                 0.078301                  0.017174                 0.000000                    0.070698
25%    1829.000000                   0.286896                  0.448554                     0.313632                         0.226585                        0.546856                           0.290710                           0.403605                          0.496032                             0.270894                   0.517069                  0.283460                     0.402544                         0.527044                        0.368644                           0.403093                     0.391077                    0.449197                       0.391164              0.407263             0.215740                0.376756               0.488677              0.461966                 0.364669                  0.405916                 0.286343                    0.328597
50%    4880.000000                   0.296312                  0.537380                     0.428784                         0.233940                        0.627693                           0.390566                           0.418624                          0.580267                             0.429624                   0.529971                  0.352757                     0.543502                         0.541834                        0.465053                           0.557474                     0.401225                    0.538357                       0.514601              0.421821             0.282480                0.500508               0.504021              0.554292                 0.515287                  0.417042                 0.355385                    0.486605
75%    7329.000000                   0.305397                  0.615612                     0.562464                         0.240933                        0.698505                           0.511934                           0.433111                          0.654136                             0.560191                   0.541785                  0.425305                     0.662572                         0.556820                        0.552168                           0.662766                     0.411392                    0.613220                       0.641654              0.436461             0.355156                0.619805               0.518914              0.638753                 0.636882                  0.429325                 0.424891                    0.592317
max    9969.000000                   0.356406                  0.890793                     0.851559                         0.273952                        0.975163                           0.826323                           0.517519                          0.863475                             0.862861                   0.591251                  0.808730                     0.892713                         0.624578                        0.920835                           0.924573                     0.451579                    1.000000                       0.909805              0.525327             0.692217                0.881660               0.658198              0.903798                 0.875866                  0.507316                 0.868254                    0.909590

In [213]:
# Quick check to see if the dataframe showing the right results

df_cosdist.head(20)

    Course Id  DataScientist_Skill_Score  DataScientist_Role_Score  DataScientist_Keyword_Score  SoftwareDevelopment_Skill_Score  SoftwareDevelopment_Role_Score  SoftwareDevelopment_Keyword_Score  DatabaseAdministrator_Skill_Score  DatabaseAdministrator_Role_Score  DatabaseAdministrator_Keyword_Score  Cybersecurity_Skill_Score  Cybersecurity_Role_Score  Cybersecurity_Keyword_Score  FinancialAccountant_Skill_Score  FinancialAccountant_Role_Score  FinancialAccountant_Keyword_Score  MachineLearning_Skill_Score  MachineLearning_Role_Score  MachineLearning_Keyword_Score  Musician_Skill_Score  Musician_Role_Score  Musician_Keyword_Score  Dietitian_Skill_Score  Dietitian_Role_Score  Dietitian_Keyword_Score  Psychologist_Skill_Score  Psychologist_Role_Score  Psychologist_Keyword_Score
0         303                   0.307459                  0.744684                     0.544460                         0.237837                        0.603931                           0.518541                           0.488561                          0.846402                             0.676220                   0.512105                  0.351209                     0.575820                         0.517700                        0.553586                           0.559414                     0.376230                    0.274192                       0.645469              0.456830             0.272538                0.549407               0.516312              0.798153                 0.525401                  0.391471                 0.428658                    0.372301
1         305                   0.232071                  0.535167                     0.460375                         0.255782                        0.693831                           0.613591                           0.417917                          0.537684                             0.472373                   0.514474                  0.446463                     0.624014                         0.519549                        0.179190                           0.604530                     0.339911                    0.294941                       0.625910              0.332566             0.178531                0.467199               0.427340              0.285521                 0.538356                  0.327680                 0.286288                    0.438415
2         306                   0.323008                  0.449385                     0.219802                         0.227007                        0.576043                           0.074077                           0.391093                          0.519654                             0.075394                   0.554763                  0.416294                     0.196777                         0.568355                        0.631529                           0.403093                     0.437589                    0.566710                       0.261860              0.431870             0.445152                0.354556               0.547860              0.716982                 0.302728                  0.481274                 0.280694                    0.070698
3         307                   0.309164                  0.416260                     0.648603                         0.228633                        0.492073                           0.519089                           0.417219                          0.412655                             0.507598                   0.529742                  0.351249                     0.722881                         0.554991                        0.494101                           0.725080                     0.417827                    0.651783                       0.697760              0.436257             0.382234                0.527155               0.518842              0.484317                 0.660312                  0.427956                 0.405322                    0.559446
4         308                   0.300722                  0.284999                     0.602987                         0.239965                        0.593450                           0.530510                           0.413887                          0.426953                             0.509686                   0.537520                  0.422971                     0.731578                         0.559262                        0.112071                           0.758461                     0.414348                    0.420242                       0.713478              0.437167             0.070305                0.720380               0.503216              0.349389                 0.780097                  0.429306                 0.295976                    0.790330
5         309                   0.307471                  0.522170                     0.757452                         0.248328                        0.724140                           0.667862                           0.446119                          0.680659                             0.689430                   0.547789                  0.442824                     0.851492                         0.550893                        0.386547                           0.874166                     0.418602                    0.545971                       0.839266              0.435669             0.231572                0.770149               0.509050              0.494180                 0.827834                  0.446490                 0.483226                    0.810371
6         316                   0.334175                  0.310164                     0.355386                         0.248898                        0.610637                           0.343334                           0.448754                          0.550098                             0.318062                   0.586530                  0.292459                     0.586401                         0.579891                        0.430874                           0.524332                     0.431564                    0.420800                       0.538153              0.470734             0.153079                0.457915               0.542808              0.658110                 0.550351                  0.473811                 0.336612                    0.530211
7         317                   0.272255                  0.375398                     0.364093                         0.236654                        0.532408                           0.405278                           0.426597                          0.434652                             0.389137                   0.512504                  0.100553                     0.478775                         0.513756                        0.436263                           0.599828                     0.375735                    0.655808                       0.416526              0.375193             0.223273                0.496248               0.467149              0.561350                 0.418296                  0.409363                 0.269087                    0.425423
8         318                   0.281119                  0.473992                     0.571874                         0.233110                        0.530605                           0.539747                           0.431926                          0.496032                             0.509738                   0.580596                  0.758672                     0.710975                         0.478997                        0.317537                           0.537845                     0.361833                    0.289234                       0.566323              0.460934             0.380536                0.595765               0.495765              0.431085                 0.626008                  0.431534                 0.375069                    0.611861
9         322                   0.310068                  0.642344                     0.753330                         0.241869                        0.780723                           0.766033                           0.437863                          0.679127                             0.710625                   0.562079                  0.356887                     0.847592                         0.578764                        0.570055                           0.870527                     0.419656                    0.570464                       0.857066              0.456258             0.453930                0.841729               0.540446              0.690610                 0.875866                  0.443155                 0.367960                    0.777873
10        328                   0.291573                  0.204527                     0.540851                         0.246556                        0.548851                           0.615308                           0.432016                          0.324441                             0.508478                   0.524885                  0.391752                     0.692261                         0.525776                        0.185483                           0.763181                     0.404672                    0.322377                       0.675816              0.427816             0.317107                0.756220               0.467346              0.109484                 0.656517                  0.424624                 0.487104                    0.596572
11        329                   0.292197                  0.426543                     0.343058                         0.220996                        0.404026                           0.352089                           0.381913                          0.516718                             0.344569                   0.485730                  0.221776                     0.517779                         0.541760                        0.706363                           0.583372                     0.401304                    0.309299                       0.490486              0.420554             0.220189                0.470917               0.499551              0.690250                 0.421447                  0.386594                 0.442148                    0.340690
12        331                   0.323042                  0.260175                     0.379706                         0.237752                        0.386239                           0.332682                           0.409545                          0.228312                             0.337627                   0.544281                  0.377606                     0.551153                         0.575045                        0.392759                           0.575392                     0.426673                    0.509322                       0.542977              0.458702             0.346479                0.477990               0.505939              0.174889                 0.543932                  0.424244                 0.306176                    0.355576
13        332                   0.339114                  0.560099                     0.506005                         0.247362                        0.381027                           0.404344                           0.467821                          0.564505                             0.572664                   0.544195                  0.424376                     0.464359                         0.552835                        0.659542                           0.418820                     0.412394                    0.401006                       0.511832              0.482176             0.332307                0.475977               0.542294              0.555829                 0.458408                  0.447001                 0.457092                    0.542474
14        333                   0.334162                  0.560099                     0.428784                         0.246957                        0.381027                           0.307892                           0.444750                          0.564505                             0.452683                   0.544102                  0.424376                     0.334607                         0.572664                        0.659542                           0.318007                     0.422567                    0.401006                       0.342289              0.479877             0.332307                0.319708               0.563453              0.555829                 0.247186                  0.446517                 0.457092                    0.309128
15        334                   0.356406                  0.890793                     0.439425                         0.234769                        0.530678                           0.293029                           0.500476                          0.640063                             0.523878                   0.516979                  0.360051                     0.350236                         0.510349                        0.431318                           0.295910                     0.381572                    0.217778                       0.325964              0.451227             0.321934                0.332566               0.559664              0.539981                 0.379921                  0.444329                 0.528618                    0.353575
16        335                   0.285643                  0.656167                     0.684342                         0.208457                        0.641692                           0.698607                           0.377998                          0.670563                             0.649774                   0.520730                  0.547579                     0.869304                         0.538855                        0.549947                           0.840789                     0.397927                    0.563007                       0.807896              0.406577             0.257302                0.831747               0.522853              0.732725                 0.825403                  0.411345                 0.455807                    0.663228
17        336                   0.299945                  0.377455                     0.219802                         0.234933                        0.825085                           0.074077                           0.420851                          0.473950                             0.075394                   0.545185                  0.313604                     0.196777                         0.560019                        0.268600                           0.403093                     0.402939                    0.492368                       0.261860              0.411379             0.055436                0.354556               0.516032              0.517357                 0.302728                  0.430662                 0.139444                    0.070698
18        337                   0.304868                  0.501611                     0.559390                         0.228512                        0.490896                           0.515789                           0.395282                          0.521348                             0.501719                   0.542109                  0.571985                     0.700343                         0.552033                        0.453816                           0.516259                     0.406368                    0.580884                       0.545809              0.431911             0.402778                0.572118               0.536940              0.417123                 0.599441                  0.427145                 0.391128                    0.597337
19        338                   0.302569                  0.520878                     0.723361                         0.228785                        0.562711                           0.606937                           0.441141                          0.497778                             0.702707                   0.549145                  0.363839                     0.768088                         0.548552                        0.468984                           0.726832                     0.394040                    0.419500                       0.696938              0.406841             0.323288                0.642254               0.518905              0.399904                 0.636774                  0.426648                 0.535907                    0.703913

In [214]:
# Joining two dataframes - Courses and the Cosein Similarity Results based on the 'Course Id' variable. 
# Inner joins: Joins two tables with the common rows. This is a set operateion.

df_courses_score = df_courses.merge(df_cosdist, on ='Course Id', how='inner')

print(df_courses_score.shape,"\n")

(2213, 46)

In [215]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: DATA SCIENTIST

y_actu_DataScientist         = ''
y_pred_DataScientist         = ''

df_courses_score['DataScientist_Final_Score'] = (df_courses_score['DataScientist_Role_Score'] * my_role_weight) + (df_courses_score['DataScientist_Keyword_Score'] * my_skill_weight)

df_courses_score['DataScientist_Predict'] = (df_courses_score['DataScientist_Final_Score'] >= 0.5)

df_courses_score['DataScientist_Label'] = df_courses_score.Category.isin(label_DataScientist)

y_pred_DataScientist = pd.Series(df_courses_score['DataScientist_Predict'], name='Predicted')

y_actu_DataScientist = pd.Series(df_courses_score['DataScientist_Label'], name='Actual')

df_confusion_DataScientist = pd.crosstab(y_actu_DataScientist, y_pred_DataScientist , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [216]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: SOFTWARE ENGINEER/DEVELOPER

y_actu_SoftwareDevelopment         = ''
y_pred_SoftwareDevelopment         = ''

df_courses_score['SoftwareDevelopment_Final_Score'] = (df_courses_score['SoftwareDevelopment_Role_Score'] * my_role_weight) + (df_courses_score['SoftwareDevelopment_Keyword_Score'] * my_skill_weight)

df_courses_score['SoftwareDevelopment_Predict'] = (df_courses_score['SoftwareDevelopment_Final_Score'] >= 0.5)

df_courses_score['SoftwareDevelopment_Label'] = df_courses_score.Category.isin(label_SoftwareDevelopment)

y_pred_SoftwareDevelopment = pd.Series(df_courses_score['SoftwareDevelopment_Predict'], name='Predicted')

y_actu_SoftwareDevelopment = pd.Series(df_courses_score['SoftwareDevelopment_Label'], name='Actual')

df_confusion_SoftwareDevelopment = pd.crosstab(y_actu_SoftwareDevelopment, y_pred_SoftwareDevelopment , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [217]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: DATABASE DEVELOPER/ADMINISTRATOR

y_actu_DatabaseAdministrator         = ''
y_pred_DatabaseAdministrator         = ''

df_courses_score['DatabaseAdministrator_Final_Score'] = (df_courses_score['DatabaseAdministrator_Role_Score'] * my_role_weight) + (df_courses_score['DatabaseAdministrator_Keyword_Score'] * my_skill_weight)

df_courses_score['DatabaseAdministrator_Predict'] = (df_courses_score['DatabaseAdministrator_Final_Score'] >= 0.5)

df_courses_score['DatabaseAdministrator_Label'] = df_courses_score.Category.isin(label_DatabaseAdministrator)

y_pred_DatabaseAdministrator = pd.Series(df_courses_score['DatabaseAdministrator_Predict'], name='Predicted')

y_actu_DatabaseAdministrator = pd.Series(df_courses_score['DatabaseAdministrator_Label'], name='Actual')

df_confusion_DatabaseAdministrator = pd.crosstab(y_actu_DatabaseAdministrator, y_pred_DatabaseAdministrator , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [218]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: CYBERSECURITY CONSULTANT

y_actu_Cybersecurity         = ''
y_pred_Cybersecurity         = ''

df_courses_score['Cybersecurity_Final_Score'] = (df_courses_score['Cybersecurity_Role_Score'] * my_role_weight) + (df_courses_score['Cybersecurity_Keyword_Score'] * my_skill_weight)

df_courses_score['Cybersecurity_Predict'] = (df_courses_score['Cybersecurity_Final_Score'] >= 0.5)

df_courses_score['Cybersecurity_Label'] = df_courses_score.Category.isin(label_Cybersecurity)

y_pred_Cybersecurity = pd.Series(df_courses_score['Cybersecurity_Predict'], name='Predicted')

y_actu_Cybersecurity = pd.Series(df_courses_score['Cybersecurity_Label'], name='Actual')

df_confusion_Cybersecurity = pd.crosstab(y_actu_Cybersecurity, y_pred_Cybersecurity , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [219]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: FINANCIAL ACCOUNTANT

y_actu_FinancialAccountant         = ''
y_pred_FinancialAccountant         = ''

df_courses_score['FinancialAccountant_Final_Score'] = (df_courses_score['FinancialAccountant_Role_Score'] * my_role_weight) + (df_courses_score['FinancialAccountant_Keyword_Score'] * my_skill_weight)

df_courses_score['FinancialAccountant_Predict'] = (df_courses_score['FinancialAccountant_Final_Score'] >= 0.5)

df_courses_score['FinancialAccountant_Label'] = df_courses_score.Category.isin(label_FinancialAccountant)

y_pred_FinancialAccountant = pd.Series(df_courses_score['FinancialAccountant_Predict'], name='Predicted')

y_actu_FinancialAccountant = pd.Series(df_courses_score['FinancialAccountant_Label'], name='Actual')

df_confusion_FinancialAccountant = pd.crosstab(y_actu_FinancialAccountant, y_pred_FinancialAccountant , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [220]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: MACHINE LEARNING ENGINEER

y_actu_MachineLearning         = ''
y_pred_MachineLearning         = ''

df_courses_score['MachineLearning_Final_Score'] = (df_courses_score['MachineLearning_Role_Score'] * my_role_weight) + (df_courses_score['MachineLearning_Keyword_Score'] * my_skill_weight)

df_courses_score['MachineLearning_Predict'] = (df_courses_score['MachineLearning_Final_Score'] >= 0.5)

df_courses_score['MachineLearning_Label'] = df_courses_score.Category.isin(label_MachineLearning)

y_pred_MachineLearning = pd.Series(df_courses_score['MachineLearning_Predict'], name='Predicted')

y_actu_MachineLearning = pd.Series(df_courses_score['MachineLearning_Label'], name='Actual')

df_confusion_MachineLearning = pd.crosstab(y_actu_MachineLearning, y_pred_MachineLearning , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [221]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: MUSICIAN

y_actu_Musician         = ''
y_pred_Musician         = ''

df_courses_score['Musician_Final_Score'] = (df_courses_score['Musician_Role_Score'] * my_role_weight) + (df_courses_score['Musician_Keyword_Score'] * my_skill_weight)

df_courses_score['Musician_Predict'] = (df_courses_score['Musician_Final_Score'] >= 0.5)

df_courses_score['Musician_Label'] = df_courses_score.Category.isin(label_Musician)

y_pred_Musician = pd.Series(df_courses_score['Musician_Predict'], name='Predicted')

y_actu_Musician = pd.Series(df_courses_score['Musician_Label'], name='Actual')

df_confusion_Musician = pd.crosstab(y_actu_Musician, y_pred_Musician , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [222]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: NUTRITIONIST/DIETITIAN

y_actu_Dietitian         = ''
y_pred_Dietitian         = ''

df_courses_score['Dietitian_Final_Score'] = (df_courses_score['Dietitian_Role_Score'] * my_role_weight) + (df_courses_score['Dietitian_Keyword_Score'] * my_skill_weight)

df_courses_score['Dietitian_Predict'] = (df_courses_score['Dietitian_Final_Score'] >= 0.5)

df_courses_score['Dietitian_Label'] = df_courses_score.Category.isin(label_Dietitian)

y_pred_Dietitian = pd.Series(df_courses_score['Dietitian_Predict'], name='Predicted')

y_actu_Dietitian = pd.Series(df_courses_score['Dietitian_Label'], name='Actual')

df_confusion_Dietitian = pd.crosstab(y_actu_Dietitian, y_pred_Dietitian , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [223]:
# Tranforming and shaping the data to create the confusion matrix for the ROLE: Psychologist

y_actu_Psychologist         = ''
y_pred_Psychologist         = ''

df_courses_score['Psychologist_Final_Score'] = (df_courses_score['Psychologist_Role_Score'] * my_role_weight) + (df_courses_score['Psychologist_Keyword_Score'] * my_skill_weight)

df_courses_score['Psychologist_Predict'] = (df_courses_score['Psychologist_Final_Score'] >= 0.5)

df_courses_score['Psychologist_Label'] = df_courses_score.Category.isin(label_Psychologist)

y_pred_Psychologist = pd.Series(df_courses_score['Psychologist_Predict'], name='Predicted')

y_actu_Psychologist = pd.Series(df_courses_score['Psychologist_Label'], name='Actual')

df_confusion_Psychologist = pd.crosstab(y_actu_Psychologist, y_pred_Psychologist , rownames=['Actual'], colnames=['Predicted'], margins=False)

In [224]:
df_confusion_DataScientist

Predicted  False  True
Actual
False       1420    661
True           2    130

In [225]:
df_confusion_SoftwareDevelopment

Predicted  False  True
Actual
False       1575    458
True          45    135

In [226]:
df_confusion_DatabaseAdministrator

Predicted  False  True
Actual
False       1456    746
True           1     10

In [227]:
df_confusion_Cybersecurity

Predicted  False  True
Actual
False        912   1271
True           4     26

In [228]:
df_confusion_FinancialAccountant

Predicted  False  True
Actual
False        810   1300
True           1    102

In [229]:
df_confusion_MachineLearning

Predicted  False  True
Actual
False       1009   1111
True          21     72

In [230]:
df_confusion_Musician

Predicted  False  True
Actual
False       1087   1089
True          18     19

In [231]:
df_confusion_Dietitian

Predicted  False  True
Actual
False       1001   1086
True          29     97

In [232]:
df_confusion_Psychologist

Predicted  False  True
Actual
False       1167    953
True          25     68

In [233]:
# Performance summary for the ROLE: DATA SCIENTIST


try:
    tn_DataScientist = df_confusion_DataScientist.iloc[0][False]
except:
    tn_DataScientist = 0
    
try:
    tp_DataScientist =  df_confusion_DataScientist.iloc[1][True]
except:
    tp_DataScientist = 0

    
try:
    fn_DataScientist = df_confusion_DataScientist.iloc[1][False]
except:
    fn_DataScientist = 0
    
try:
    fp_DataScientist =  df_confusion_DataScientist.iloc[0][True]
except:
    fp_DataScientist = 0  
    
    
total_count_DataScientist = tn_DataScientist + tp_DataScientist + fn_DataScientist + fp_DataScientist

print('Data Scientist Accuracy Rate : ', '{0:.2f}'.format((tn_DataScientist + tp_DataScientist) / total_count_DataScientist * 100))

print('Data Scientist Misclassifcation Rate : ',  '{0:.2f}'.format((fn_DataScientist + fp_DataScientist) / total_count_DataScientist * 100))

print('Data Scientist True Positive Rate : ',  '{0:.2f}'.format(tp_DataScientist / (tp_DataScientist + fn_DataScientist) * 100))

print('Data Scientist False Positive Rate : ',  '{0:.2f}'.format(fp_DataScientist / (tn_DataScientist + fp_DataScientist) * 100))

Data Scientist Accuracy Rate :  70.04
Data Scientist Misclassifcation Rate :  29.96
Data Scientist True Positive Rate :  98.48
Data Scientist False Positive Rate :  31.76

In [234]:
# Performance summary for the ROLE: SOFTWARE ENGINEER


try:
    tn_SoftwareDevelopment = df_confusion_SoftwareDevelopment.iloc[0][False]
except:
    tn_SoftwareDevelopment = 0
    
try:
    tp_SoftwareDevelopment =  df_confusion_SoftwareDevelopment.iloc[1][True]
except:
    tp_SoftwareDevelopment = 0

    
try:
    fn_SoftwareDevelopment = df_confusion_SoftwareDevelopment.iloc[1][False]
except:
    fn_SoftwareDevelopment = 0
    
try:
    fp_SoftwareDevelopment =  df_confusion_SoftwareDevelopment.iloc[0][True]
except:
    fp_SoftwareDevelopment = 0  
    
    
total_count_SoftwareDevelopment = tn_SoftwareDevelopment + tp_SoftwareDevelopment + fn_SoftwareDevelopment + fp_SoftwareDevelopment

print('Software Engineer Accuracy Rate : ', '{0:.2f}'.format((tn_SoftwareDevelopment + tp_SoftwareDevelopment) / total_count_SoftwareDevelopment * 100))

print('Software Engineer Misclassifcation Rate : ',  '{0:.2f}'.format((fn_SoftwareDevelopment + fp_SoftwareDevelopment) / total_count_SoftwareDevelopment * 100))

print('Software Engineer True Positive Rate : ',  '{0:.2f}'.format(tp_SoftwareDevelopment / (tp_SoftwareDevelopment + fn_SoftwareDevelopment) * 100))

print('Software Engineer False Positive Rate : ',  '{0:.2f}'.format(fp_SoftwareDevelopment / (tn_SoftwareDevelopment + fp_SoftwareDevelopment) * 100))

Software Engineer Accuracy Rate :  77.27
Software Engineer Misclassifcation Rate :  22.73
Software Engineer True Positive Rate :  75.00
Software Engineer False Positive Rate :  22.53

In [235]:
# Performance summary for the ROLE: DATABASE DEVELOPER/ ADMINISTRATOR


try:
    tn_DatabaseAdministrator = df_confusion_DatabaseAdministrator.iloc[0][False]
except:
    tn_DatabaseAdministrator = 0
    
try:
    tp_DatabaseAdministrator =  df_confusion_DatabaseAdministrator.iloc[1][True]
except:
    tp_DatabaseAdministrator = 0

    
try:
    fn_DatabaseAdministrator = df_confusion_DatabaseAdministrator.iloc[1][False]
except:
    fn_DatabaseAdministrator = 0
    
try:
    fp_DatabaseAdministrator =  df_confusion_DatabaseAdministrator.iloc[0][True]
except:
    fp_DatabaseAdministrator = 0  
    
    
total_count_DatabaseAdministrator = tn_DatabaseAdministrator + tp_DatabaseAdministrator + fn_DatabaseAdministrator + fp_DatabaseAdministrator

print('Database Administrator Accuracy Rate : ', '{0:.2f}'.format((tn_DatabaseAdministrator + tp_DatabaseAdministrator) / total_count_DatabaseAdministrator * 100))

print('Database Administrator Misclassifcation Rate : ',  '{0:.2f}'.format((fn_DatabaseAdministrator + fp_DatabaseAdministrator) / total_count_DatabaseAdministrator * 100))

print('Database Administrator True Positive Rate : ',  '{0:.2f}'.format(tp_DatabaseAdministrator / (tp_DatabaseAdministrator + fn_DatabaseAdministrator) * 100))

print('Database Administrator False Positive Rate : ',  '{0:.2f}'.format(fp_DatabaseAdministrator / (tn_DatabaseAdministrator + fp_DatabaseAdministrator) * 100))

Database Administrator Accuracy Rate :  66.24
Database Administrator Misclassifcation Rate :  33.76
Database Administrator True Positive Rate :  90.91
Database Administrator False Positive Rate :  33.88

In [236]:
# Performance summary for the ROLE: CYBERSECURITY CONSULTANT


try:
    tn_Cybersecurity = df_confusion_Cybersecurity.iloc[0][False]
except:
    tn_Cybersecurity = 0
    
try:
    tp_Cybersecurity =  df_confusion_Cybersecurity.iloc[1][True]
except:
    tp_Cybersecurity = 0

    
try:
    fn_Cybersecurity = df_confusion_Cybersecurity.iloc[1][False]
except:
    fn_Cybersecurity = 0
    
try:
    fp_Cybersecurity =  df_confusion_Cybersecurity.iloc[0][True]
except:
    fp_Cybersecurity = 0  
    
    
total_count_Cybersecurity = tn_Cybersecurity + tp_Cybersecurity + fn_Cybersecurity + fp_Cybersecurity

print('Cybersecurity Consultant Accuracy Rate : ', '{0:.2f}'.format((tn_Cybersecurity + tp_Cybersecurity) / total_count_Cybersecurity * 100))

print('Cybersecurity Consultant Misclassifcation Rate : ',  '{0:.2f}'.format((fn_Cybersecurity + fp_Cybersecurity) / total_count_Cybersecurity * 100))

print('Cybersecurity Consultant True Positive Rate : ',  '{0:.2f}'.format(tp_Cybersecurity / (tp_Cybersecurity + fn_Cybersecurity) * 100))

print('Cybersecurity Consultant False Positive Rate : ',  '{0:.2f}'.format(fp_Cybersecurity / (tn_Cybersecurity + fp_Cybersecurity) * 100))

Cybersecurity Consultant Accuracy Rate :  42.39
Cybersecurity Consultant Misclassifcation Rate :  57.61
Cybersecurity Consultant True Positive Rate :  86.67
Cybersecurity Consultant False Positive Rate :  58.22

In [237]:
# Performance summary for the ROLE: FINANCIAL ACCOUNTANT


try:
    tn_FinancialAccountant = df_confusion_FinancialAccountant.iloc[0][False]
except:
    tn_FinancialAccountant = 0
    
try:
    tp_FinancialAccountant =  df_confusion_FinancialAccountant.iloc[1][True]
except:
    tp_FinancialAccountant = 0

    
try:
    fn_FinancialAccountant = df_confusion_FinancialAccountant.iloc[1][False]
except:
    fn_FinancialAccountant = 0
    
try:
    fp_FinancialAccountant =  df_confusion_FinancialAccountant.iloc[0][True]
except:
    fp_FinancialAccountant = 0  
    
    
total_count_FinancialAccountant = tn_FinancialAccountant + tp_FinancialAccountant + fn_FinancialAccountant + fp_FinancialAccountant

print('Financial Accountant Consultant Accuracy Rate : ', '{0:.2f}'.format((tn_FinancialAccountant + tp_FinancialAccountant) / total_count_FinancialAccountant * 100))

print('Financial Accountant Consultant Misclassifcation Rate : ',  '{0:.2f}'.format((fn_FinancialAccountant + fp_FinancialAccountant) / total_count_FinancialAccountant * 100))

print('Financial Accountant Consultant True Positive Rate : ',  '{0:.2f}'.format(tp_FinancialAccountant / (tp_FinancialAccountant + fn_FinancialAccountant) * 100))

print('Financial Accountant Consultant False Positive Rate : ',  '{0:.2f}'.format(fp_FinancialAccountant / (tn_FinancialAccountant + fp_FinancialAccountant) * 100))

Financial Accountant Consultant Accuracy Rate :  41.21
Financial Accountant Consultant Misclassifcation Rate :  58.79
Financial Accountant Consultant True Positive Rate :  99.03
Financial Accountant Consultant False Positive Rate :  61.61

In [238]:
# Performance summary for the ROLE: MACHINE LEARNING ENGINEER


try:
    tn_MachineLearning = df_confusion_MachineLearning.iloc[0][False]
except:
    tn_MachineLearning = 0
    
try:
    tp_MachineLearning =  df_confusion_MachineLearning.iloc[1][True]
except:
    tp_MachineLearning = 0

    
try:
    fn_MachineLearning = df_confusion_MachineLearning.iloc[1][False]
except:
    fn_MachineLearning = 0
    
try:
    fp_MachineLearning =  df_confusion_MachineLearning.iloc[0][True]
except:
    fp_MachineLearning = 0  
    
    
total_count_MachineLearning = tn_MachineLearning + tp_MachineLearning + fn_MachineLearning + fp_MachineLearning

print('Machine Learning Engineer Accuracy Rate : ', '{0:.2f}'.format((tn_MachineLearning + tp_MachineLearning) / total_count_MachineLearning * 100))

print('Machine Learning Engineer Misclassifcation Rate : ',  '{0:.2f}'.format((fn_MachineLearning + fp_MachineLearning) / total_count_MachineLearning * 100))

print('Machine Learning Engineer True Positive Rate : ',  '{0:.2f}'.format(tp_MachineLearning / (tp_MachineLearning + fn_MachineLearning) * 100))

print('Machine Learning Engineer False Positive Rate : ',  '{0:.2f}'.format(fp_MachineLearning / (tn_MachineLearning + fp_MachineLearning) * 100))

Machine Learning Engineer Accuracy Rate :  48.85
Machine Learning Engineer Misclassifcation Rate :  51.15
Machine Learning Engineer True Positive Rate :  77.42
Machine Learning Engineer False Positive Rate :  52.41

In [239]:
# Performance summary for the ROLE: MUSICIAN


try:
    tn_Musician = df_confusion_Musician.iloc[0][False]
except:
    tn_Musician = 0
    
try:
    tp_Musician =  df_confusion_Musician.iloc[1][True]
except:
    tp_Musician = 0

    
try:
    fn_Musician = df_confusion_Musician.iloc[1][False]
except:
    fn_Musician = 0
    
try:
    fp_Musician =  df_confusion_Musician.iloc[0][True]
except:
    fp_Musician = 0  
    
    
total_count_Musician = tn_Musician + tp_Musician + fn_Musician + fp_Musician

print('Musician Accuracy Rate : ', '{0:.2f}'.format((tn_Musician + tp_Musician) / total_count_Musician * 100))

print('Musician Misclassifcation Rate : ',  '{0:.2f}'.format((fn_Musician + fp_Musician) / total_count_Musician * 100))

print('Musician True Positive Rate : ',  '{0:.2f}'.format(tp_Musician / (tp_Musician + fn_Musician) * 100))

print('Musician False Positive Rate : ',  '{0:.2f}'.format(fp_Musician / (tn_Musician + fp_Musician) * 100))

Musician Accuracy Rate :  49.98
Musician Misclassifcation Rate :  50.02
Musician True Positive Rate :  51.35
Musician False Positive Rate :  50.05

In [240]:
# Performance summary for the ROLE: DIETITIAN


try:
    tn_Dietitian = df_confusion_Dietitian.iloc[0][False]
except:
    tn_Dietitian = 0
    
try:
    tp_Dietitian =  df_confusion_Dietitian.iloc[1][True]
except:
    tp_Dietitian = 0

    
try:
    fn_Dietitian = df_confusion_Dietitian.iloc[1][False]
except:
    fn_Dietitian = 0
    
try:
    fp_Dietitian =  df_confusion_Dietitian.iloc[0][True]
except:
    fp_Dietitian = 0  
    
    
total_count_Dietitian = tn_Dietitian + tp_Dietitian + fn_Dietitian + fp_Dietitian

print('Dietitian Accuracy Rate : ', '{0:.2f}'.format((tn_Dietitian + tp_Dietitian) / total_count_Dietitian * 100))

print('Dietitian Misclassifcation Rate : ',  '{0:.2f}'.format((fn_Dietitian + fp_Dietitian) / total_count_Dietitian * 100))

print('Dietitian True Positive Rate : ',  '{0:.2f}'.format(tp_Dietitian / (tp_Dietitian + fn_Dietitian) * 100))

print('Dietitian False Positive Rate : ',  '{0:.2f}'.format(fp_Dietitian / (tn_Dietitian + fp_Dietitian) * 100))

Dietitian Accuracy Rate :  49.62
Dietitian Misclassifcation Rate :  50.38
Dietitian True Positive Rate :  76.98
Dietitian False Positive Rate :  52.04

In [241]:
# Performance summary for the ROLE: Psychologist


try:
    tn_Psychologist = df_confusion_Psychologist.iloc[0][False]
except:
    tn_Psychologist = 0
    
try:
    tp_Psychologist =  df_confusion_Psychologist.iloc[1][True]
except:
    tp_Psychologist = 0

    
try:
    fn_Psychologist = df_confusion_Psychologist.iloc[1][False]
except:
    fn_Psychologist = 0
    
try:
    fp_Psychologist =  df_confusion_Psychologist.iloc[0][True]
except:
    fp_Psychologist = 0  
    
    
total_count_Psychologist = tn_Psychologist + tp_Psychologist + fn_Psychologist + fp_Psychologist

print('Psychologist Accuracy Rate : ', '{0:.2f}'.format((tn_Psychologist + tp_Psychologist) / total_count_Psychologist * 100))

print('Psychologist Misclassifcation Rate : ',  '{0:.2f}'.format((fn_Psychologist + fp_Psychologist) / total_count_Psychologist * 100))

print('Psychologist True Positive Rate : ',  '{0:.2f}'.format(tp_Psychologist / (tp_Psychologist + fn_Psychologist) * 100))

print('Psychologist False Positive Rate : ',  '{0:.2f}'.format(fp_Psychologist / (tn_Psychologist + fp_Psychologist) * 100))

Psychologist Accuracy Rate :  55.81
Psychologist Misclassifcation Rate :  44.19
Psychologist True Positive Rate :  73.12
Psychologist False Positive Rate :  44.95

### End of the Notebook. Thank you!